<template>
    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-3" >
                   <div class="store-info footer-col store-info">
                       <h5 class="md-heading">Store Information</h5>
                       <logo></logo>
                       <div class="address">
                           <p class="md-body-1">
                               69 Abak road Uyo
                           </p>
                           <p>+2348062438376, +2348073487501,+2347085649557</p>
                           <p>support@muzula.com</p>
                       </div>
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="account footer-col">
                        <h5 class="md-heading">Your Account</h5>
                        <div>
                            <ul>
                                <li><a href="#">Sign Up</a> </li>
                                <li><a href="#">Sign In</a> </li>
                                <li><a href="#">Your Cart</a> </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product footer-col">
                        <h5 class="md-heading">Products</h5>
                        <div>
                            <ul>
                                <li><a href="#">Best Seller</a> </li>
                                <li><a href="#">Today Deals</a> </li>
                                <li><a href="#">Top Categories</a> </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="product footer-col">
                        <h5 class="md-heading">Our Company</h5>
                        <div>
                            <ul>
                                <li><a href="#">About Us</a> </li>
                                <li><a href="#">Terms And Condition</a> </li>
                                <li><a href="#">Privacy Policy</a> </li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="store-meta">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="copyright">
                            <span class="md-helper-text">&copy; 2018 Muzula</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="subscribe">
                            <div class="input">
                                <input type="email" class="input-field" placeholder="Your email address">
                                <button class="btn-primary" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="payment">
                            <img class="img-fluid" src="/img/payment.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import Logo from "../header/Logo";
    export default {
        name: "Footer",
        components: {Logo}
    }
</script>

<style scoped lang="scss">

    .footer{
        padding-top:70px ;
        background: #e6e6e6;
        position: relative;

        .footer-content{
            padding-bottom: 30px;
        }


        .store-meta{
            background: darken(#e6e6e6,20%);
            padding: 20px 0;
        }


        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li a{
                color: darken(grey,50%);
                display: block;
                padding: 5px 0;
                font-size: .9em;
            }
        }
    }

    .footer-col{
        .address{
            padding-top: 20px;
        }
        p{
            margin: 0;
            font-size: .8em;
            padding: 1px 0;
        }
    }

    .subscribe{
        input{
            width: 77%;
            padding: 8px 10px;
            margin: 0;
            border: none;
            outline: none;
            border-radius: 20px 0 0 20px;
        }

        button{
            padding: 8px 20px;
            margin: 0;
            border: none;
            outline: none;
            border-radius: 0 20px 20px 0;
        }
    }

    .payment{
        text-align: center;
    }

    .copyright{
        padding-top: 10px;
        font-size: .9em;
    }

</style>