<template>
    <div>
        <product :image="'product'+product+'.jpg'"></product>
    </div>
</template>

<script>
    import Product from './Product'
    export default {
        name: "ProductList",
        components:{Product}
    }
</script>

<style scoped>

</style>