<template>
    <div class="product" v-if="product">
        <router-link  :to="getUrl(product)">
            <span class="discount bg-primary text-white">{{getDiscount(product)}}% Off</span>
            <div class="">
                <img :alt="product.product_name" class="img-fluid" :src="product.images[0].file_location">
            </div>
            <div class="meta">
                <div class="price">
                    <div  v-if="product.discount_price"> <span class="current-price">{{product.discount_price | currency}} </span> <span class="old-price"> {{product.selling_price | currency}}</span></div>

                    <span v-if="!product.discount_price" class="current-price">{{product.selling_price | currency}} </span>
                </div>
                <div class="name">
                    <span class="md-body-1">{{product.product_name}}</span>
                </div>
            </div>
            <div class="actions text-center">
                <button @click="addToCart" class="btn btn-primary cart-btn btn-sm">Add To Cart</button>
            </div>
        </router-link>
    </div>

</template>

<script>

    import {toast } from  '../../utils';
    import slugify from '@sindresorhus/slugify';

    export default {
        name: "Product",
        props:["image",'product'],
        methods:{
            getDiscount(product){
                if(!product.discount_price)
                    return 0;

                return Math.round(((product.selling_price-product.discount_price)/product.selling_price)*100)
            },

            getUrl(product){
                return '/product/'+product.id+'/'+slugify(product.product_name.toLowerCase())
            },

            addToCart(){
                let item = {
                    qty:1,
                    product:this.product
                };
                this.$store.commit('addToCart',item);
                toast.success("Product added to cart")

            }
        }

    }
</script>

<style scoped lang="scss">

    .product{
        margin: 8px;
        position: relative;
        background: #fff;
        min-height: 90%;

        .actions{
            display: none;
            padding: 8px;

            .cart-btn{
                font-size: .7em;
                padding: 2px;
            }
        }

        &:hover{
            transition: .2s;
            // transform: scale(1.2);

            box-shadow: 0 0 1px grey;

            .actions{
                display: block;
            }

        }


        .discount{
            padding: 5px;
            font-size: .8em;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .meta{
        padding: 8px;
        .price{
            font-size: .9em;
            font-weight: bold;

            .old-price{
                color: grey;
                text-decoration: line-through;
            }
        }

        .name{
            a{
                font-size: .85em;
                color: darken(grey,30%);
            }
        }
    }

</style>