<template>
    <div class="flash-deals">
        <div class="header">
            <div class="row">
                <div class="col-md-10 align-baseline">
                    <h2>Flash Deals</h2>
                    <span class="tag-line">Red Hot products at affordable prices</span>
                </div>
                <div class="col-md-2 text-right ">
                    <router-link to="/flash-deals" class="more-link" >View more <span class="fas fa-chevron-right"></span> </router-link>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="row">
                <div class="col-md-3 col-6" v-for="(deal,index) of deals">
                    <product :product="deal.product"></product>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {http} from "../../../../utils";
    import Product from "./Product";
    export default {
        name: "FlashDeals",
        components: {Product},
        data:()=>({
            deals:[],
        }),
        methods:{
            getDeals(){
                http.get("promotion/deals")
                    .then((res)=>{
                        this.deals = res.data.data.data.slice(0,4);
                    })
            }
        },
        created(){
            this.getDeals();
        }
    }
</script>

<style scoped lang="scss">
    .header{
        border-bottom: solid 1px lighten(grey,40%);
        padding-bottom: 10px;
    }
    .more-link{
        .fas{
            font-size: 15px;
            padding-left: 10px;
        }
    }
    .flash-deals{
        margin-top: 40px;
    }

</style>