<template>
    <div class="product">
        <div class="">
            <img alt="" class="img-fluid" :src="product.images[0].file_location">
        </div>
        <div class="price">
            <span class="current-price">{{product.discount_price | currency}} </span> <span class="old-price">{{product.selling_price | currency}}</span>
        </div>
        <div class="name">
            <router-link :to="getUrl(product)"> <span class="md-body-1">{{product.product_name}}</span></router-link>
        </div>
        <!--<button class="md-button">Add to cat</button>-->
    </div>
</template>

<script>
    import slugify from  '@sindresorhus/slugify'
    export default {
        name: "Product",
        props:["product"],
        methods:{

            getUrl(product){
                return '/product/'+product.id+'/'+slugify(product.product_name.toLowerCase())
            }
        }

    }
</script>

<style scoped lang="scss">

    .price{
        font-weight: bold;
        span{
            display: block;
        }
        
        .old-price{
            text-decoration: line-through;
            color: grey;
            font-size: .8em;

        }
    }

    .name a{
        color: darken(grey,15%);
        font-size: .9em;
    }

</style>