<template>
    <div class="page login-page">
        <div class="container">
            <div class="form-outer text-center d-flex align-items-center">
                <div class="form-inner">
                    <div class="logo text-uppercase"><span>Muzula</span><strong class="text-primary">Dashboard</strong></div>
                    <div v-if="error" class="alert alert-danger">
                        Invalid Email or Password
                    </div>

                    <form method="get" @submit.prevent="login($event)" class="text-left form-validate">
                        <div class="form-group-material">
                            <input v-model="user.email" id="login-username" type="text" name="loginUsername" required data-msg="Please enter your email" class="input-material">
                            <label for="login-username" class="label-material">Email</label>
                        </div>
                        <div class="form-group-material">
                            <input v-model="user.password" id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                            <label for="login-password" class="label-material">Password</label>
                        </div>
                        <div class="form-group text-center"><button type="submit" id="login"  class="btn btn-primary"><i v-if="sendingRequest" class="fa fa-spinner fa-spin"></i> Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {http,toast} from "../../../utils";
    import Auth from '../../../utils/Auth'

    export default {
        name: "Login",
        data:()=>({
            error:false,
            sendingRequest:false,
            user:{
                email:'',
                password:''
            }
        }),
        methods:{
            login(event){

                if(event.target.checkValidity()){

                    this.sendingRequest = true;

                    http.post('admin/login',this.user)
                        .then((res)=>{
                            let user = res.data.data.user;

                            if(user.role.role_name ==='admin'){
                                toast.success("Login was successful");

                                Auth.storeUser(res.data.data.user);
                                Auth.storeToken(res.data.data.token);


                                if(this.$route.query.backto){
                                    this.$router.push(this.$route.query.backto)
                                }else {
                                    this.$router.push('/dashboard');
                                }
                            }else {
                                toast.error("You are not an admin")
                            }



                        })
                        .catch((err)=>{
                            if(err.response){
                                if(err.response.status === 401){
                                    toast.error("Invalid email or password")
                                }else {
                                    toast.error("Oops something went wrong try again")
                                }
                            }else {
                                toast.error("Oops something went wrong try again")
                            }
                        })
                        .finally(()=>{
                            this.sendingRequest = false;
                        })
                }


            }
        },

        mounted(){
            if(Auth.userIsLogged()){
                if(this.$route.query.backto){
                    this.$router.push(this.$route.query.backto)
                }else {
                    this.$router.push('/dashboard');
                }
            }
        }
    }
</script>

<style scoped>

</style>