$primary:       #DA4C43 ;
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./native-toast.css";






body{
  background: lighten(grey,45%);
}

.rotate{
  transform: rotateY( 180deg );
}

a{
  color: grey;

  &:hover{
    text-decoration: none;
    color: darken(grey,10%);
  }
}

.container{
  @media (min-width: 992px) {

    max-width: 81%;
  }
}

.vue-slider-process,
.vue-slider-dot-tooltip-inner
{
  background: $primary !important;
}

.vue-slider-dot-tooltip-inner::after{
  border-top-color: $primary !important;

}

.text-sm{
  font-size: .8em;
}

.form-control-sm{
   font-size: .8em;
   padding: 1px 2px !important;
   outline: none;
  box-shadow: none;
  height: 25px !important;

  &:focus{
    box-shadow: none;
  }
}
