<template>
    <div class="action-bar d-none d-lg-block">
        <div class="container">
            <div  class="row">
                <div  class="welcome col-md-4">
                    <span>Hello Welcome to Muzula</span>
                </div>
                <div class="account col-md-3 offset-5 ">
                    <span v-if="!loggedIn"><router-link to="/register">Register</router-link><span class="md-caption"> or </span> <router-link to="/login">Login</router-link></span>
                    <span class="logout" v-if="loggedIn"> {{user.first_name}} {{user.last_name}} |  <a @click="logout" href="javascript:void(0)">Logout</a></span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {http} from "../../../utils";

    export default {
        name: "ActionBar",

        methods:{
          logout(){
             this.$store.dispatch("logout");
             this.$router.push('/login');

          }
        },

        computed:{

            loggedIn(){
                return this.$store.state.loggedIn;
            },

            user(){
                return this.$store.state.user;
            }
        }
    }
</script>

<style scoped lang="scss">
    .action-bar{
        background: lighten(#e5e5e5,6%);
        padding: 8px 0;
        border-bottom: solid 1px #e5e5e5;

        span{
            font-size: .8em;
            color: grey;
        }


        .account{
            text-align: right;
        }
    }
</style>