<template>
    <div class="m-sidebar animated slideOutLeft faster">
        <div class="header d-flex justify-content-between">
            <span @click="hide" class="back fa fa-arrow-left"></span>
            <span>Categories</span>

        </div>
        <div class="category-list">
            <ul class="main-cat">
                <li v-for="(main,index) of categories">
                    <div class="d-flex toggle justify-content-between">
                        <router-link :to="getMainUrl(main)">{{main.category_name}}</router-link>
                        <span @click="showSubCats(index)" class="fa " :class="[mainIndex===index?'fa-minus':'fa-plus']"></span>
                    </div>
                    <ul v-if="mainIndex===index" class="sub-cat">
                        <li v-for="(sub,index) of main.sub_categories">
                            <div class="d-flex toggle justify-content-between">
                                <router-link :to="getSubUrl(sub)">{{sub.category_name}}</router-link>
                                <span @click="showCats(index)" class="fa " :class="[subIndex===index?'fa-minus':'fa-plus']"></span>
                            </div>

                            <ul class="cats" v-if="subIndex===index">
                                <li v-for="(cat,index) of sub.sub_categories">
                                    <router-link :to="getCategoryUrl(cat)">{{cat.category_name}}</router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</template>

<script>
    import slugify from '@sindresorhus/slugify';
    export default {
        name: "CategorySidebar",
        data:()=>({
           mainIndex:0,
            subIndex:-1,
        }),
        computed:{
            categories(){
                return this.$store.state.mainCategories;
            },

            currentRoute(){
                return this.$route.fullPath
            },
        },

        watch:{
          currentRoute(){
              this.hide();
          }
        },
        methods:{

            getMainUrl(cat){
                return '/m-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },

            getSubUrl(cat){
                return '/s-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },

            getCategoryUrl(cat){
                return '/cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },

            hide(){
                this.$emit("hide")
            },

            showSubCats(mainIndex){
                this.mainIndex = this.mainIndex===-1? mainIndex:-1;
            },
            showCats(subIndex){
                this.subIndex = this.subIndex===-1? subIndex:-1;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "~animate.css/animate.min.css";
    .m-sidebar{
        position: fixed;
        width: 200px;
        background: #ffffff;
        height: 100%;
        overflow-y: scroll;
        top: 0;
        z-index: 2000;
        animation-duration: 100ms !important;
        animation-delay: .01s;

        ul{
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            a, .fa{
                display: block;
                padding: 5px 2px;
                color: black;
                font-size: .8em;
                /*border-bottom: solid #e5e5e5 1px;*/
            }
        }

        .main-cat{
            .toggle{
                background: lighten(grey,45%);
                padding: 8px 10px;

                .fa{
                    font-size: .8em;
                }
            }
        }

        .sub-cat{
            margin-left: 5px;
            background: white;

            .toggle{
                background: white;
            }

            .cats{
                margin-left: 15px;
            }
        }


        .header{
            background: lighten(grey,45%);
            padding: 10px;
            border-bottom: solid lighten(grey,35%) 2px;
        }


    }

</style>