<template>
    <div class="categories" @mouseleave="hidePane">
        <a href="#" @click.prevent="toggleCategoryList" class="cat-btn">
            <span class="text">Categories</span>
            <span class="fas fa-bars icon" ></span>
        </a>




        <div class="category-list" v-if="showList">
            <ul>
                <li v-for="(cat,index) of this.categories" @mouseover="showSubCategories(index)">
                    <router-link :to="getMainUrl(cat)" href="">
                        <span class="cat-icon fas fa-align-justify"></span>
                        <span class="text"> {{cat.category_name}}</span>
                        <span class="nav-icon fa fa-chevron-right"></span>
                    </router-link>
                </li>
            </ul>
        </div>


        <div class="sub-categories" v-if="showSubCategoriesPane">
            <div class="row">
                <div v-for="(subCat,index) of subCategories" class="col-md-3 my-2">
                    <div class="header">
                        <span>
                            <router-link :to="getSubUrl(subCat)">
                                 {{subCat.category_name}}
                            </router-link>
                           </span>
                    </div>
                    <div class="cat-list">
                        <ul class="list-unstyled">
                            <li v-for="(cat,index) of subCat.sub_categories">
                                <router-link :to="getCategoryUrl(cat)">{{cat.category_name}}</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>

    import {http} from "../../../utils";

    import CategoryUrlMixin from '../../mixins/CategoryUrlMixin';

    export default {
        name: "categories",
        mixins:[CategoryUrlMixin],
        data:()=>({
            showList:false,
           // categories:[],
            subCategories:[],
            showSubCategoriesPane:false,
        }),
        computed:{

            showListWithRoute(){
                return this.$route.path === '/'
            },
            categories(){
                return this.$store.state.mainCategories;
            },
            currentRoute(){
                return this.$route.fullPath
            }
        },

        watch:{
           currentRoute() {
               this.hidePane();
           }
        },

        methods:{

            toggleCategoryList(){
                if(this.$route.path === '/'){
                    this.showList = true;
                }else {
                    this.showList = !this.showList;
                    this.showSubCategoriesPane =  this.showList;
                    if(this.showList){
                        this.showSubCategories(0);
                    }


                }
            },

            showSubCategories(index){
                this.showSubCategoriesPane = true;
                this.subCategories = this.categories[index].sub_categories;
            },

            getCategories(){
                http.get("products/categories")
                    .then((res)=>{
                        this.categories = res.data.data;
                    })
            },

            hidePane(){
                if(this.$route.path === '/'){
                    this.showSubCategoriesPane = false;
                    this.showList = true;
                }else {
                    this.showList = false;
                    this.showSubCategoriesPane = false;
                }
            }
        },

        mounted(){
            if(this.$route.path === '/'){
                this.toggleCategoryList();
            }


        }
    }
</script>

<style scoped lang="scss">
    @import "../../../../sass/variables";

    .categories{
        /*padding: 10px 35px;*/

        /*padding-right: 140px;*/


        .cat-btn{
            display: flex;
            width: 250px;
            justify-content: space-between;
            padding: 10px 15px;
            background: $primary-color;
            color: $text-primary;
            text-decoration: none;


            .icon{
                font-size: 1.2em;
            }

            .text{
                font-weight: bold;
            }

        }

    }



    .sub-categories{
        position: absolute;
        left: 250px;
        background: #fff;
        z-index: 1000;
        width: 80%;
        min-height: 350px;
        padding: 10px;

        .header{
            a{
                font-weight: bold;
                font-size: .8em;
            }
        }

        .cat-list{
            margin-left: 10px;
            a{
                font-size: .7em;
            }
        }
    }

    .category-list{
        border:solid 1px #e5e5e5;
        border-right: none;
        position: absolute;
        /*display: none;*/
        /*width: 100%;*/
        left: 0;
        top:45px;
        z-index: 1000;
        background: white;


        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            width: 250px;
            /*height: 500px;*/

            li{
                a{
                    display: block;
                    padding: 10px 20px;
                    overflow: hidden;
                    color: darken(grey,20%);
                    font-weight: lighter !important;
                    font-size: .9em;


                    span{
                        display: block;
                    }

                    .cat-icon{
                        float: left;
                        padding: 4px 10px;
                        color: darken(grey,30%);

                        /*background: red;*/
                    }
                    .text{
                        float: left;
                        padding: 4px 0;
                        padding-top: 0px;
                        /*background: blue;*/
                    }

                    .nav-icon{
                        float: right;
                        padding: 4px 10px;
                        /*background: green;*/
                    }
                }
            }
        }



    }
</style>