<template>
    <div>
        <action-bar></action-bar>
        <search-bar></search-bar>
        <nav-bar></nav-bar>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import SearchBar from "./SearchBar";
    import NavBar from "./NavBar";
    export default {
        name: "Header",
        components: {NavBar, SearchBar, ActionBar}
    }
</script>

<style scoped>

</style>