<template>
    <div class="logo">
       <router-link to="/">
           <h1>Muzula<span style="color: red">.</span></h1>
           <span v-if="showTagLine" class="tag-line">Buy Everything you need</span>
       </router-link>
    </div>
</template>

<script>
    export default {
        name: "Logo",
        props:['showTagLine']
    }
</script>

<style scoped>
    .logo h1{
        /*line-height: 20px;*/
        margin-bottom: 0;
        font-weight: bolder;
        padding: 0;
        font-size: 1.8em;
    }

    a{
        color: black;
    }

    .logo .tag-line{
        font-size: .8em;

    }
</style>