<template>
    <nav class="navbar d-none d-lg-block">
        <div class="container">
            <div class="nav-links">
                <ul>
                    <li >
                        <categories></categories>
                    </li>
                    <li><router-link to="/">Home</router-link> </li>
                    <li><a href="#">Free Shipping</a> </li>
                    <li><a href="#">Contact Us</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    
</template>

<script>
    import Categories from "./categories";
    export default {
        name: "NavBar",
        components: {Categories},

    }
</script>

<style scoped lang="scss">
    .navbar{
        border-bottom: solid #e5e5e5 1px;
        padding: 0;
        background: #fff;


        .categories{
            /*position: relative;*/
        }
    }
    .nav-links{

        position: relative;
        width: 100%;


        ul{
            list-style: none;
            overflow: hidden;
            margin: 0;
            padding: 0;

            li{
                float: left;

                a{
                    display: block;
                    padding: 5px 30px;
                    padding-top: 10px;
                    text-decoration: none;
                    font-size: .9em;
                    font-weight: bold;
                }
            }
        }
    }

</style>