<template>
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="logo col-md-2 col-12 mr-2 mr-md-0">
                    <div class="row mobile">
                        <div class="col-1 d-md-none mr-2 mr-md-0">
                            <button @click="showSidebar" class="menu-toggle">
                                <span class="fa fa-bars"></span>
                            </button>
                        </div>
                        <div class="col-7">
                            <logo></logo>
                        </div>

                        <div class="col-2 d-md-none">
                            <button class="cart-btn">
                                <router-link class="cart-link" to="/cart">
                                    <span class="fas fa-shopping-bag cart-icon"></span>
                                    <span class="badge badge-primary">{{totalItems}}</span>
                                </router-link>
                            </button>
                        </div>

                        <div class="col-1 account-col d-md-none">


                            <button @click="dropdown=!dropdown">
                                <span class="fa fa-user"></span>
                            </button>
                            <div class="dropdown" v-show="dropdown">
                                <router-link to="/register" class="dropdown-item" >Register</router-link>
                                <router-link to="login" class="dropdown-item" href="#">Login</router-link>
                            </div>

                        </div>
                    </div>





                </div>

                <div class="search-input col-md-8" >
                    <form @submit.prevent="search">
                        <div class="inputs row no-gutters">
                            <div class="col-md-8">
                                <input v-model="searchText" type="text"  placeholder="I want to buy..." class="search">
                            </div>
                            <div class="col-md-2 d-none d-lg-flex">
                                <select class="department" v-model="catId">
                                    <option value="">All Categories</option>
                                    <option v-for="(cat,index) of categories" :value="cat.id">{{cat.category_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 d-none d-lg-flex">
                                <button type="submit" class="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 cart-col d-none d-sm-block">
                    <div class="cart row no-gutters">
                        <div class="col-md-8">
                            <router-link class="cart-link" to="/cart">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <div class="cart-wrapper">
                                            <span class="fas fa-shopping-bag cart-icon"></span>
                                            <span class="badge badge-primary">{{totalItems}}</span>
                                        </div>
                                    </div>

                                    <div class="col-6 total">
                                        <span class="amount">{{productTotalAmount | currency }}</span>
                                    </div>
                                </div>

                            </router-link>
                        </div>



                        <div class="col-md-4">
                            <div class="ml-5">
                                <div class="dropdown act-dd" >
                                    <span class="dropdown-toggle d-block"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-user-circle"></span>  Account
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div v-if="loggedIn">
                                            <router-link class="dropdown-item" to="/account">My Account</router-link>
                                            <router-link class="dropdown-item" to="/account/orders">My Orders</router-link>
                                            <a class="dropdown-item" href="javascript:void();">Logout</a>

                                        </div>
                                        <div v-if="!loggedIn">
                                            <a class="dropdown-item" href="/login">Login</a>
                                            <a class="dropdown-item" href="/register">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--<div class="d-flex ml-5">-->
                            <!--<span class="fas fa-user-circle"></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <category-sidebar v-show="sidebarVisible" @hide="hideSideBar"></category-sidebar>
    </div>

</template>

<script>
    import Logo from "./Logo";
    import CategorySidebar from "./CategorySidebar";

    export default {
        name: "SearchBar",
        components: {CategorySidebar, Logo},

        data:()=>({
            searchText:'',
            catId:'',
            sidebarVisible:false,
            dropdown:false,
        }),

        computed:{

            loggedIn() {
                return this.$store.state.loggedIn;
            },

            cartProducts(){
                return this.$store.state.cart.cartItems;
            },

            totalItems(){
                let total = 0;

                for(const item of this.cartProducts){
                    total+=Number.parseInt(item.qty);
                }

                return total;
            },

            productTotalAmount(){
                let total = 0;

                for(const item of this.cartProducts){

                    if(item.product.discount_price){
                        total += (item.product.discount_price * item.qty)
                    }else {
                        total+=  (item.product.selling_price * item.qty);
                    }
                }

                return total;
            },

            categories(){
                let categories = [];
                this.$store.state.mainCategories.forEach((main)=>{
                    main.sub_categories.forEach((sub)=>{
                        categories.push(...sub.sub_categories)
                    })
                });

                return categories;
            },

            currentRoute(){
                return this.$route.fullPath
            }
        },

        watch:{
            currentRoute() {
               this.dropdown = false;
            }
        },

        methods:{

            search(){

                if(this.searchText){

                    let query = "?";
                    query+="q="+this.searchText;

                    if(this.catId){
                        query+="&cat="+this.catId
                    }

                    this.$router.push("/search"+query);
                }
            },

            hideSideBar(){
                document.querySelector(".m-sidebar").classList.replace('slideInLeft','slideOutLeft')
            },

            showSidebar(){
                this.sidebarVisible = true;
                document.querySelector(".m-sidebar").classList.replace('slideOutLeft','slideInLeft')

            }

        },

        mounted(){

        }
    }
</script>

<style scoped lang="scss">
    @import "../../../../sass/variables";
    @import "../../../../../node_modules/vue2-animate/src/sass/vue2-animate";


    .search-bar{
        padding: 20px 0;
        border-bottom: solid 1px #e5e5e5;
        background: #fff;

        .cart-col{
            padding-left: 30px;
            a{
                color: darken(grey,30%);
                display: block;
            }

        }

        .act-dd{
            cursor: pointer;
        }
    }

    .account-col{
        position: relative;

        .dropdown{
            position: absolute;
            top: 35px;
            right: -15px;
            z-index: 2500;
            background: white;
            border: solid #e5e5e5 1px;

            .dropdown-item{
                padding: 5px 5px;
            }

            a{
                font-size: .8em;
            }
        }
    }

    .mobile{
        button{
            background: none;
            border: none;
            font-size: 1.5em;
            outline: none;
        }

        .cart-btn{
            position: relative;

            .badge{
                position: absolute;
                font-size: .4em;
                top: 0;
                right: 0;
            }
        }
    }

    .search-input{


        .inputs{
            margin-top: 10px;
            overflow: hidden;

            input,button,select{
                /*padding: 5px 20px;*/
                outline: none;
                font-size: .9em;
                border: none;
            }



            input{
                width: 100%;
                border: solid 1px #e5e5e5;
                border-radius: 30px 0 0 30px;
                padding: 8px 20px;

                @media (max-width: 576px) {
                    border-radius: 30px 30px 30px 30px;

                }
            }


            select{
                padding: 11px 10px;
                background: $primary-color;
                color: $text-primary;

                option{
                    background: #fff;
                    color: darken(grey,20%);
                }


            }

            button{
                border-radius: 0 30px 30px 0;
                margin: 0;
                padding: 10px 20px;
                padding-bottom: 9px;
                background: $primary-color;
                color: $text-primary;
                cursor: pointer;


            }
        }

    }


    .cart{
        position: relative;
        margin-top: 10px;
        .badge{
            position: absolute;
            right: -5px;
            top: 0;
            padding: 5px;
            border-radius: 40% 50% 40% 50%;
            font-weight: lighter;
            font-size: .7em;
            display: block;
            height: 20px;
            width: 20px;

            background: $primary-color;
            color: $text-primary;
        }

        .cart-icon{
            font-size: 1.8em;
        }

        .amount{
            display: block;
            min-width: 100px;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 1em;
        }

        .dropdown-toggle{
            margin-top: 10px;
            width: 120px;
            font-size: 1em;
        }
    }
</style>