<template>
<div>
    <admin></admin>
</div>
</template>

<style lang="scss">

</style>
<script>

  import AppHeader from "./components/header/AppHeader";
  import Sidebar from "./components/sidebar/Sidebar";
  import Admin from "./views/admin/Admin";
  export default {
    components: {Admin, Sidebar, AppHeader},

      created(){
        this.$store.dispatch("getCategories");
        this.$store.dispatch("getProducts")
      }
  }
</script>