<template>
  <div id="app">
    <Header></Header>
    <router-view />
    <app-footer></app-footer>
  </div>
</template>

<style lang="scss">

</style>
<script>
  import Header from "./components/header/Header";
  import AppFooter from "./components/footer/AppFooter";
  import AuthManager from "./utils/AuthManager";


  export default {
    components: {AppFooter, Header},
    methods:{

    },

    mounted() {
      let user = AuthManager.getUser();



      if(user){
         this.$store.commit("login");
         this.$store.commit("setUser",user)
      }
      this.$store.dispatch("getCategories");



    }
  }
</script>
