<template>
    <div class="category-groups">
        <div class="header">
            <h2>Category groups</h2>
            <span class="tag-line">A wide selection of items for you to choose from</span>
        </div>
        <div class="category-groups ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <group></group>
                </div>
                <div class="col-md-4">
                    <group></group>
                </div>
                <div class="col-md-4">
                    <group></group>
                </div>
                <div class="col-md-4">
                    <group></group>
                </div>
                <div class="col-md-4">
                    <group></group>
                </div>
                <div class="col-md-4">
                    <group></group>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Group from "./Group";
    export default {
        name: "CategoryGroups",
        components: {Group}
    }
</script>

<style scoped lang="scss">

    .category-groups{
        margin-top: 60px;
    }
    .header{
        border-bottom: solid 1px lighten(grey,40%);
        padding-bottom: 10px;
    }
</style>