<template>
    <div class="group" style="margin: 0">
        <div class="row no-gutters" @click="rotate($event)">
            <div class="col-md-6">
                <div class="product">
                    <div class="sprite sprite1"></div>
                    <div class="product-img">
                        <img class="img-fluid" src="/img/product/product1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <div class="sprite sprite2"></div>
                    <div class="product-img">
                        <img class="img-fluid" src="/img/product/product2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <div class="sprite sprite3"></div>
                    <div class="product-img">
                        <img class="img-fluid" src="/img/product/product3.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <div class="sprite sprite4"></div>
                    <div class="product-img">
                        <img class="img-fluid" src="/img/product/product4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from "jquery";
    export default {
        name: "Group",

        methods:{


            rotate(event){
                console.log(event.target)

                $(".group product").addClass("rotate")
            }
        },

        mounted(){

        }
    }
</script>

<style scoped lang="scss">

    .group{



        .row{





            div[class^="col"]{
                perspective: 600px;
                padding: 3px;
                position: relative;

                /*margin-bottom: 20px;*/


                .product{
                    position: relative;
                    transform-origin: center right;

                    &:hover{
                        /*.product{*/
                            /*transform: rotateY( 180deg );*/
                        transform: translateX(-100%) rotateY(-180deg);
                        /*}*/
                    }


                    width: 100%;
                    height: 100%;
                    transition: transform 1s;
                    transform-style: preserve-3d;

                    .sprite, .product-img{
                        /*position: absolute;*/
                        /*height: 100%;*/
                        /*width: 100%;*/
                        backface-visibility: hidden;
                        transition: transform 1s;
                    }

                    .product-img{
                        background: red;
                    }

                    .product-img{
                        /*position: absolute;*/
                        height: 100%;
                        /*width: 1000%;*/
                    }


                    .sprite{
                        background: url("/img/girl.jpg");
                        /*background-color:red ;*/
                        background-repeat: no-repeat;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }

                    .product-img{
                        /*position: absolute;*/
                        /*height: 200px;*/
                        /*width: 200px;*/
                    }


                    .sprite{
                        transform: rotateY( 360deg );
                    }



                    .sprite1{
                        background-position: top left;
                    }

                    .sprite2{
                        background-position: top right;
                    }

                    .sprite3{
                        background-position: bottom left;
                    }

                    .sprite4{
                        background-position: bottom right;
                    }

                }
            }
        }
    }

</style>