<template>
    <div class="slides">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Manage Slides       </li>
                </ul>
            </div>
        </div>

        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Slides</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <h5>Edit Slides</h5>

                        <div class="slides">
                            <div class="row">
                                <div class="col-md-3 slide mx-2" v-for="(slide,index) of slides">
                                    <div class="slide-wrapper">
                                        <img alt="" :src="slide.slide_image" class="img-thumbnail">
                                        <div v-if="deletedIndex ===index"  class="del-loading text-center"><i class="fa fa-spinner fa-spin fa-2x"></i> </div>

                                        <button @click="editSlide(index)" class="add-slide edit-slide"><i class="fa fa-pencil fa-2x"></i> </button>

                                        <button :disabled="deletingSlide" class="close-btn" @click="deleteSlide(index)"><i class="fa fa-close"></i> </button>
                                    </div>
                                </div>
                                <div class="col-md-3 slide m-4">
                                    <div class="slide-inner">
                                        <button @click="newSlide" class="add-slide"><i class="fa fa-plus-circle fa-4x"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="modal fade" id="slide-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <form @submit.prevent="submitForm($event)">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="url">URL</label>
                                    <input v-model="url" name="action_url" type="url" class="form-control form-control-sm" id="url">
                                </div>


                                <div class="add-image">
                                    <div class="text-center">
                                        <input name="slide_image" accept="image/*" class="d-none" @change="showImage($event)" type="file" ref="slideImgInput">
                                        <img  ref="slideImg" @click="addImgSlide" class="img-fluid img-preview" src="/img/image-upload.png">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" :disabled="addingSlide" class="btn btn-primary"><i v-if="addingSlide" class="fa fa-spinner fa-spin"></i> {{modal.btnText}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</template>

<script>
    import $ from 'jquery';
    import {http,toast} from "../../../utils";

    export default {
        name: "Slides",
        data:()=>({
            addingSlide:false,
            slidePlaceholder:'/img/image-upload.png',
            formAction:'new',
            url:'',
            slides:[],
            deletingSlide:false,
            deletedIndex:null,
            modal:{
                title:"Add Slide",
                btnText:"Add Slide"
            }
        }),
        methods:{
            addImgSlide(event){
                this.$refs.slideImgInput.click();
            },
            showModal() {
                $("#slide-modal").modal("show");
            },

            showImage(event){
                let files = event.target.files;
                if(files.length>0){
                    let reader = new FileReader();
                    reader.onload = (event)=>{
                        this.$refs.slideImg.src= event.target.result;
                    };
                    reader.readAsDataURL(files[0])
                }
            },


            submitForm(event){
                if(this.formAction === 'new')
                    this.addSlide(event);
                else
                    this.updateSlide(event);

            },

            addSlide(event){

                let data = new FormData(event.target);
                this.addingSlide = true;
                http.post("admin/promotion/slide/add",data)
                    .then((res)=>{

                        this.slides.push(res.data.data);
                        toast.success("Slide Added Successfully");
                        this.clearModal();
                    },
                        (err)=>{
                         toast.error("Oops Something went wrong");
                         console.log(err.response)
                    }).finally(()=>{
                        this.addingSlide = false;
                })
            },

            updateSlide(event){
                let data = new FormData(event.target);
                this.addingSlide = true;
                http.post("admin/promotion/slide/update/"+this.editedSlide.id,data)
                    .then((res)=>{
                            this.$set(this.slides,this.currentIndex,res.data.data);
                            toast.success("Slide Updated Successfully");
                        },
                        (err)=>{
                            toast.error("Oops Something went wrong");
                            console.log(err.response)
                        }).finally(()=>{
                    this.addingSlide = false;
                })
            },


            deleteSlide(index){
               if(confirm("Do you want to delete this slide")){

                   this.deletedIndex = index;
                   http.delete("admin/promotion/slide/delete/"+this.slides[index].id)
                       .then((res)=>{
                           this.slides.splice(index,1);
                           toast.success("Slide was deleted successfully");
                       },()=>{
                           toast.error("Oops something went wrong")
                       })
                       .finally(()=>{
                           this.deletedIndex = null;
                       })
               }
            },



            getSlides(){
                http.get("admin/promotion/slide/list")
                    .then((res)=>{
                        this.slides.push(...res.data.data)
                    })
            },

            clearModal(){
                this.$refs.slideImgInput.value = '';
                this.$refs.slideImg.src = this.slidePlaceholder;
                this.url = '';

            },

            hideModal(){
                $("#slide-modal").modal("show");
            },

            newSlide(){

                this.modal = {
                    title:"Add Slide",
                    btnText:"Add Slide"
                };
                this.formAction = "new";
                this.clearModal();
                this.showModal();
            },

            editSlide(index){
                this.formAction = "update";
                this.currentIndex = index;
                this.editedSlide = this.slides[index];
                this.modal = {
                    title:"Edit Slide",
                    btnText:"Update Slide"
                };

                this.url = this.editedSlide.action_url;
                this.$refs.slideImg.src = this.editedSlide.slide_image;
                this.showModal();

            }

        },

        created(){
            this.getSlides();
        }
    }
</script>

<style scoped lang="scss">

    .img-preview{
        cursor: pointer;
    }
    .slide{
        background: #e5e5e5;
        padding: 0;

        .slide-wrapper{
            position: relative;

            &:hover{
                .edit-slide{
                    display: block;
                }
            }


            .close-btn{
                position: absolute;
                right: -3px;
                top: -3px;
                border-radius: 50%;
                font-size: .7em;
                margin: 0;
                border: none;
                outline: none;
                background: red;
                color: #fff;
                box-shadow: 0 0 5px black;
            }

            .edit-slide,.del-loading{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: transparentize(black,.6);
                display: none;

                .fa{
                    color: #fff;
                }
            }

            .del-loading{
                display: block;
                padding: 35px 0;



            }
        }

        .add-slide{
            display: block;
            width: 100%;
            padding: 20px 10px;
            background: none;
            border: none;
            outline: none;

            .fa{
                color: lighten(grey,20%);
            }
        }
    }

</style>