<template>
    <div class="product-options">
        <div class="option">
                <div class="option-header">
                    <span data-toggle="collapse"
                          data-target="#brands"
                          aria-expanded="false" aria-controls="collapseBrands">

                       <span class="text">
                            Brands
                       </span>

                    <span class="fas fa-chevron-down"></span>
                    </span>


                </div>
            <div class="collapse show" id="brands">
                <div class="option-items">
                    <ul class="list-unstyled">
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Nokia</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Nokia</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Infinix</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Tecno</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Samsung</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Apple</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="option">
            <div class="option-header">
                    <span data-toggle="collapse"
                          data-target="#ram"
                          aria-expanded="false" aria-controls="collapseBrands">

                       <span class="text">
                            RAM
                       </span>

                    <span class="fas fa-chevron-down"></span>
                    </span>


            </div>
            <div class="collapse show" id="ram">
                <div class="option-items">
                    <ul class="list-unstyled">
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">4 GB</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">2 GB</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">1 GB</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">512 MB</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">256 MB</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="option">
            <div class="option-header">
                    <span data-toggle="collapse"
                          data-target="#brands"
                          aria-expanded="false" aria-controls="collapseBrands">

                       <span class="text">
                            Screen Size
                       </span>

                    <span class="fas fa-chevron-down"></span>
                    </span>


            </div>
            <div class="collapse show" id="brands">
                <div class="option-items">
                    <ul class="list-unstyled">
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Nokia</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Nokia</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Infinix</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Tecno</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Samsung</label>
                            </div>
                        </li>
                        <li class="item">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <label class="form-check-label">Apple</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductOptions"
    }
</script>

<style scoped lang="scss">
    .option{
        .option-header{
            font-weight: bold;
            font-size: 1.2em;
            margin-top: 20px;
            cursor: pointer;

            >span{
                display: flex;
                justify-content: space-between;
            }

        }

        .item {
            label{
                font-size: .9em;
                font-weight: lighter;
            }
        }
        .option-items{
            margin-left: 10px;
        }

    }

</style>