<template>
    <div class="categories">
        <div class="cat-tree">
            <ul class="list-unstyled">
                <li v-for="(main,inedex) of categories">
                    <span class="main"><router-link :to="getMainUrl(main)">{{main.category_name}}</router-link></span>
                    <ul class="ml-3 sub-cats list-unstyled">
                        <li v-for="(sub,index) of main.sub_categories">
                            <span><router-link :to="getSubUrl(sub)">{{sub.category_name}}</router-link></span>
                            <ul class="ml-4 list-unstyled">
                                <li v-for="(subSub,index) of sub.sub_categories">
                                  <router-link :to="getCategoryUrl(subSub)">  {{subSub.category_name}}</router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import CategoryUrlMixin from '../../mixins/CategoryUrlMixin'
    export default {
        name: "SidebarCategories",
        mixins:[CategoryUrlMixin],
        computed:{
            categories(){
                return this.$store.state.mainCategories;
            },
        }
    }
</script>

<style scoped lang="scss">

    .cat-tree a{
        color: lighten(black,20%);
    }
</style>