<template>
  <div class="deals">
      <div class="heading">
          <h1>Deals of the day</h1>
      </div>
      <md-card>
          <md-card-content>

          </md-card-content>
      </md-card>
  </div>
</template>

<script>
    export default {
        name: "Deals"
    }
</script>

<style scoped lang="scss">
   .deals{
       margin-top: 30px;
   }

</style>