<template>
    <div class="featured-categories">
        <div class="header">
            <h2>Featured Categories</h2>
            <p>Here is a selection of our top categories</p>
        </div>
        <div class="row categories no-gutters">
            <div class="col-3 text-center">
                <router-link to='s-cat/9/laptop'>
                    <img src="/img/cats/laptop.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Laptops</p>
            </div>
            <div class="col-3 text-center">
                <router-link to="m-cat/1/phones-and-tablets">
                    <img src="/img/cats/phone.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Phones</p>
            </div>
            <div class="col-3 text-center">
                <router-link to="m-cat/7/electronics">
                    <img src="/img/cats/electronics.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Electronics</p>
            </div>
            <div class="col-3 text-center ">
                <router-link to="/m-cat/10/home-and-office">
                    <img src="/img/cats/home.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Home and Office</p>
            </div>

        </div>

        <div class="row categories no-gutters">
            <div class="col-3 text-center ">
                <router-link to="/s-cat/5/men-s-fashion">
                    <img src="/img/cats/men.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Men's Fashion</p>
            </div>
            <div class="col-3 text-center ">
                <router-link to="/s-cat/6/ladies-fashion">
                    <img src="/img/cats/women.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Ladies Fashion</p>
            </div>
            <div class="col-3 text-center ">
                <router-link to="/m-cat/8/health-and-beauty">
                    <img src="/img/cats/beauty.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Health and Beauty</p>
            </div>
            <div class="col-3 text-center ">
                <router-link to="cat/11/ladies-shoes">
                    <img src="/img/cats/women-shoes.jpg" class="img-fluid">
                </router-link>
                <p class="cat-title">Ladies Shoes</p>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "FeatureCategories"
    }
</script>

<style scoped lang="scss">
    .featured-categories{

        .categories{
            background: #fff;
        }

       .col-3{
        border: solid 1px #e5e5e5;
    }

    }

</style>