<template>
    <div class="slides">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(slide,index) of slides">
                    <a :href="slide.action_url">
                        <img alt="slide" class="img-fluid" :src="slide.slide_image">
                    </a>
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

    </div>
</template>

<script>
    import {http} from "../../../utils";

    export default {
        name: "Slider",
        data:()=>({
            slides:[]
        }),
        methods:{

            getSlides(){
                http.get("/promotion/slides")
                    .then((res)=>{
                        this.slides.push(...res.data.data);
                       this.$nextTick(()=>{
                           this.initSwiper();
                       })
                    })
            },

            initSwiper(){
                let swiper = new Swiper('.swiper-container', {
                    loop: true,
                    loopFillGroupWithBlank: true,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: true,
                    },

                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            }
        },

        mounted() {
            this.getSlides();
        }
    }
</script>

<style scoped lang="scss">

    .slides{
        min-height: 350px;
        position: relative;
        
        @media (max-width: 576px) {
            min-height: 200px;
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>