<template>
    <div class="customers">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Manage Customers       </li>
                </ul>
            </div>
        </div>

        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Customers</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <div class="list" v-if="!showDetailsPane">
                            <h5 class="card-header">Customer List</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Join On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(customer, index) of customers">
                                        <td>{{customer.id}}</td>
                                        <td>{{customer.first_name}}</td>
                                        <td>{{customer.last_name}}</td>
                                        <td>{{customer.phone_no}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.created_at}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</template>

<script>
    import {http,toast} from "../../../utils";

    export default {
        name: "Customers",
        data:()=>({
            customers:[]
        }),

        methods:{

            getCustomers(){
                http.get("admin/customers/list")
                    .then((res)=>{
                        this.customers.push(...res.data.data)
                    })
            }
        },

        created(){
            this.getCustomers();
        }
    }
</script>

<style scoped>

</style>