<template>
    <div class="summary">
        <h5>Summary</h5>

        <div class="product">
            <table class="table table-striped">

            </table>
        </div>


    </div>
</template>

<script>
    export default {
        name: "CartSummary"
    }
</script>

<style scoped>

</style>