<template>
    <div class="container">
        <div class="checkout py-5">
            <div class="header">
                <h4>Checkout</h4>
            </div>
            <div class="row flex-column-reverse flex-md-row">
                <div class="col-md-8">
                    <div class="steps">
                        <div class="address">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5> Address Details</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <button v-if="address" @click="showAddresses" class="btn btn-sm btn-primary">Change Address</button>
                                            <button v-if="!address" @click="openModal" class="btn btn-sm btn-primary">Add Address</button>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="address" v-if="address">
                                        <div class="address-data" >
                                            <span class="name  font-weight-bold d-block">{{address.first_name+" "+address.last_name}}</span>
                                            <span class="d-block">{{address.address}}</span>
                                            <span class="d-block">{{address.additional_info }}</span>
                                            <span class="d-block">{{address.phone_no}} <span v-if="address.phone_no2">, {{address.phone_no2}}</span></span>
                                            <span class="d-block text-sm">{{` ${address.lga},  ${address.state}`}}</span>
                                        </div>


                                        <div class="address-action text-right">
                                            <button @click="editAddress(addressIndex)" class="btn btn-sm btn-outline-warning">Edit</button>
                                            <!--<button @click="deleteAddress(index,address.id)" class="btn btn-default btn-sm">Delete</button>-->
                                        </div>
                                    </div>

                                    <div v-if="!address" class="text-center">
                                        <p class="text-warning">You don't have any shipping address please add one</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shipping-method mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Delivery Method</h5>
                                    <hr>
                                    <div>
                                        <div class="py-4">
                                            <div class="form-check">
                                                <input  class="form-check-input"  checked name="delivery-method" type="radio"  id="standard">
                                                <label class="form-check-label font-weight-bold" for="standard">
                                                   Door Delivery
                                                </label>
                                            </div>

                                            <div>
                                                <!--<p>You are in luck all our products comes with free shipping</p>-->
                                                <p>This is our standard 7 days shipping we deliver nationwide </p>
                                            </div>

                                        </div>


                                        <div class="py-4" v-if="false">
                                            <div class="form-check">
                                                <input class="form-check-input" v-model="shippingCost" name="delivery-method" type="radio" value="2500" id="express">
                                                <label class="form-check-label font-weight-bold" for="express">
                                                    Express Shipping
                                                </label>
                                            </div>

                                            <div>
                                                <p>The pyramid is full of futility.Cum contencio experimentum, omnes orgiaes prensionem superbus, gratis gloses.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="total-summary">
                                        <div class="row">
                                            <div class="col-md-10 m-auto">
                                                <div class="d-flex justify-content-between">
                                                    <span class="">Subtotal </span>
                                                    <span class="">{{cartTotal | currency}}</span>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <span class="">Shipping Cost </span>
                                                    <span class="">&#8358;{{shippingCost}}</span>
                                                </div>
                                                <hr/>

                                                <div class="d-flex justify-content-between">
                                                    <span class="">Total </span>
                                                    <span class="">{{parseInt(shippingCost)+cartTotal | currency}}</span>
                                                </div>

                                                <div class="action mt-3">
                                                    <button :disabled="sendingRequest" @click="makePayment" class="btn btn-primary btn-block"><span v-if="sendingRequest" class="fa fa-spinner fa-spin"></span> Proceed to make Payment</button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--<div class="payment py-4">-->
                        <!--<div class="card">-->
                        <!--<div class="card-body">-->
                        <!--<h5>Payment Method</h5>-->
                        <!--</div>-->







                        <!--</div>-->
                        <!--</div>-->



                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h6>Summary</h6>

                            <hr/>

                            <div class="products">
                                <div class="row product" v-for="(item,index) of cartProducts">
                                    <div class="col-md-4 col-4">
                                        <img :src="item.product.images[0].file_location" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-8 col-8">
                                        <span class="product-name d-block">{{item.product.product_name}}</span>
                                        <span v-if="!item.product.discount_price" class="amount font-weight-bold d-block">{{item.product.selling_price | currency}}</span>
                                        <span v-if="item.product.discount_price" class="amount font-weight-bold d-block">{{item.product.discount_price | currency}}</span>
                                        <span class="d-block qty">Qty: {{item.qty}}</span>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span class="">Subtotal </span>
                                <span class="">{{cartTotal | currency }}</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span class="">Shipping Cost </span>
                                <span class="">{{shippingCost | currency}}</span>
                            </div>
                            <hr/>

                            <div class="d-flex justify-content-between">
                                <span class="">Total </span>
                                <span class="">{{parseInt(shippingCost)+cartTotal | currency}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="text-center mt-3 my-4">
                        <router-link to="cart" class="font-weight-bold text-info">Edit Cart</router-link>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal fade" id="address-list-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Addresses</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="addresses" v-for="(address,index) of addresses">
                            <div class="address" v-if="address">
                                <div class="address-data px-5 py-2" >
                                    <input  @click="hideAddresses" class="form-check-input" v-model="addressIndex" name="address" type="radio" :value="index">
                                    <label class="name form-check-label font-weight-bold" for="express">
                                        {{address.first_name+" "+address.last_name}}
                                    </label>

                                    <span class="d-block">{{address.address}}</span>
                                    <span class="d-block">{{address.additional_info }}</span>
                                    <span class="d-block">{{address.phone_no}} <span v-if="address.phone_no2">, {{address.phone_no2}}</span></span>
                                    <span class="d-block text-sm">{{` ${address.lga},  ${address.state}`}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center my-2">
                            <button class="btn btn-sm btn-primary" @click="newAddress">New Address</button>
                        </div>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>



        <address-modal
                v-bind:isEditing="editingAddress"
                v-bind:address="editedAddress"
                @addressAdded="addAddress($event)"
                @addressUpdated="addressUpdated($event)"
                @modalClosed="clearEditing">

        </address-modal>




    </div>
</template>

<script>
    import {http,toast} from "../../../utils";
    import $ from 'jquery'
    import addressManager from "../../mixins/addressManager";
    import AddressModal from "../../components/account/AddressModal";
    import Auth from '../../../utils/Auth'


    export default {
        name: "Checkout",

        data:()=>({
            shippingCost:0,
            address:null,
            addressIndex:null,
            sendingRequest:false,

        }),
        components:{AddressModal},
        mixins:[addressManager],

        computed:{

            cartProducts(){
                return this.$store.state.cart.cartItems;
            },

            cartTotal(){
                let total = 0;
                let shippingCost = 0;
                this.cartProducts.forEach((item)=>{
                    shippingCost+=item.qty*2000;
                    if(item.product.discount_price){
                        total+=item.qty*item.product.discount_price
                    }else {
                        total+=item.qty*item.product.selling_price
                    }
                });
                this.shippingCost = shippingCost;
                return total;
            },

            addresses(){
                return this.$store.state.user.addresses||[];
            }

        },

        watch:{
            addressIndex(val){
                if(val!=null){
                    this.address = this.addresses[val];
                }

            },
            addresses(newVal,oldVal) {

                if(newVal.length > oldVal.length){
                    this.addressIndex = newVal.length-1;
                }

            }
        },

        methods:{
            makePayment(){
               if(!this.address){
                   toast.error("Please add your address to proceed");
               }else{
                   this.sendingRequest = true;
                   this.payWithPaystack();
               }

                // this.createOrder("jivjerjgejgijghery")
            },

            calculateShippingCost(){

            },


            createOrder(reference){
                let requestObj = {
                    cart:this.cartProducts,
                    payment_ref:reference,
                    shipping_cost:this.shippingCost,
                    address:this.address.id,
                };



                http.post("order/new",requestObj)
                    .then((res)=>{
                        toast.success("Order was created successfully");
                        this.$store.commit("clearCart");
                        this.$router.push("/account/orders");
                    })
                    .catch((err)=>{
                        console.log(err.response)
                        toast.error("Oops something wrong please try again")
                    })
                    .finally(()=>{
                        this.sendingRequest=false;
                    })
            },

            showAddresses(){
                $("#address-list-modal").modal("show")

            },

            hideAddresses(){
                $("#address-list-modal").modal("hide")

            },

            newAddress(){
                this.hideAddresses();
                this.openModal();
            },




            payWithPaystack(){
                let user = JSON.parse(localStorage.getItem("user"));
                let vm = this;
                let amount = (parseInt(this.shippingCost)+this.cartTotal)*100;

                var handler = PaystackPop.setup({
                    key: process.env.MIX_PAYSTACK_PUBLIC_KEY,
                    email: 'customer@email.com',
                    amount: amount,
                    currency: "NGN",
                    // ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                    firstname: user.first_name,
                    lastname: user.last_name,
                    // label: "Optional string that replaces customer email"
                    metadata: {
                        custom_fields: [
                            {
                                display_name: "Mobile Number",
                                variable_name: "mobile_number",
                                value: "+2348012345678"
                            }
                        ]
                    },
                    callback: function(response){
                       toast.success("Payment was successful");

                       vm.createOrder(response.reference);

                    },
                    onClose: function(){
                        vm.sendingRequest = false;
                        toast.error("Payment was unsuccessful")
                    }
                });
                handler.openIframe();
            }
        },

        mounted(){
            if(!Auth.userIsLogged()){
                this.$router.push("/login?bacto="+"checkout");
            }


            if(this.addresses.length>0){
                this.addressIndex = 0
            }

        }
    }
</script>

<style scoped lang="scss">

    .products{
        .product{
            border-bottom: solid 1px #e5e5e5;
        }

        .qty{
            font-size: .8em;
        }

        .product-name{
            font-size: .9em;
        }
    }

    .modal{
        .address{
            border-bottom: solid 2px #e5e5e5;
            padding-bottom: 10px;
        }
    }

    .address{
        span{
            font-size:.9em
        }

        .name{
            font-size: 1em;
        }
    }

</style>