<template>
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center"><img src="/img/avatar.png" alt="person" class="img-fluid rounded-circle">
                    <h2 class="h5">{{user.first_name}} {{user.last_name}}</h2><span>{{user.role.display_name}}</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <h5 class="sidenav-heading">Main</h5>
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li ><router-link  to="/dashboard"> <i class="icon-home"></i>Dashboard                             </router-link></li>
                    <li>
                        <router-link to="/products"><i class="fa icon-form"></i>Products</router-link>
                    </li>

                    <li>
                        <router-link to="/categories"><i class="fa fa-bar-chart"></i>Categories</router-link>
                    </li>




                    <!--<li><a href="tables.html"> <i class="icon-grid"></i>Orders                             </a></li>-->



                    <!--<li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>-->
                    <!--<ul id="exampledropdownDropdown" class="collapse list-unstyled ">-->
                    <!--<li><a href="#">Page</a></li>-->
                    <!--<li><a href="#">Page</a></li>-->
                    <!--<li><a href="#">Page</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="login.html"> <i class="icon-interface-windows"></i>Login page                             </a></li>-->
                    <!--<li> <a href="#"> <i class="icon-mail"></i>Demo-->
                    <!--<div class="badge badge-warning">6 New</div></a></li>-->
                </ul>
            </div>


            <div class="admin-menu">
                <h5 class="sidenav-heading">Promotions</h5>
                <ul id="s" class="side-menu list-unstyled">
                    <li> <router-link to="/slides"> <i class="icon-screen"> </i>Slides</router-link></li>
                    <li> <router-link to="/deals"> <i class="icon-screen"> </i>Flash Deals</router-link></li>
                    <li> <a href="#"> <i class="icon-flask"> </i>Featured Products</a></li>
                </ul>
            </div>

            <div class="admin-menu">
                <h5 class="sidenav-heading">Customer</h5>
                <ul id="side-admin-menu" class="side-menu list-unstyled">
                    <li> <router-link to="/customers"> <i class="icon-screen"> </i>Affiliates</router-link></li>
                    <li> <router-link to="/orders"> <i class="icon-flask"> </i>Due for Payment
                        <!--<div class="badge badge-info">Special</div>-->
                    </router-link></li>
                </ul>
            </div>


            <div class="admin-menu">
                <h5 class="sidenav-heading">Customer</h5>
                <ul id="side-admin-menu" class="side-menu list-unstyled">
                    <li> <router-link to="/customers"> <i class="icon-screen"> </i>Manage Customers</router-link></li>
                    <li> <router-link to="/orders"> <i class="icon-flask"> </i>Manage Orders
                        <!--<div class="badge badge-info">Special</div>-->
                    </router-link></li>
                </ul>
            </div>


            <div class="admin-menu">
                <h5 class="sidenav-heading">Account</h5>
                <ul  class="side-menu list-unstyled">
                    <!--<li> <router-link to="/orders"> <i class="icon-flask"> </i>Edit Account</router-link></li>-->
                    <li> <router-link to="/change-password"> <i class="icon-screen"> </i>Change Password</router-link></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import Auth from  '../../../utils/Auth'
    export default {
        name: "Sidebar",

        computed:{
            user(){
                return Auth.getUser();
            }
        }
    }
</script>

<style scoped>

</style>