<template>
    <div class="change-password">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Change Password      </li>
                </ul>
            </div>
        </div>

        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Change Password</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form @submit.prevent="changePassword" novalidate>
                                    <div class="form-group">
                                        <label for="new-password">New Password</label>
                                        <input type="password"

                                               :class="{'is-invalid':errors.password.show}"
                                               v-model="updateData.password"
                                               id="new-password" class="form-control" required>
                                        <small
                                                v-if="errors.password.show"
                                                class="text-danger">{{errors.password.message}}</small>                                    </div>

                                    <div class="form-group">
                                        <label for="password-confirm">Confirm Password</label>
                                        <input type="password"

                                               :class="{'is-invalid':errors.password_confirmation.show}"
                                               v-model="updateData.password_confirmation"
                                               id="password-confirm" class="form-control" required>
                                        <small v-if="errors.password_confirmation.show"
                                               class="text-danger"
                                        >{{errors.password_confirmation.message}}</small>                                    </div>

                                    <div class="">
                                        <button type="submit" :disabled="sendingRequest" class="btn-primary btn">
                                            <i  v-if="sendingRequest" class="fa fa-spinner fa-spin"></i>   Update Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {http,toast} from "../../../utils";

    export default {
        name: "ChangePassword",
        data:()=>({
            errors:{},
            sendingRequest:false,
            updateData:{
                password:'',
                password_confirmation: ''
            }
        }),

        methods:{

            getErrors(){
                return {
                    password:{
                        show:false,
                        message:"Enter a new Password"
                    },
                    password_confirmation:{
                        show:false,
                        message:"Confirm your password"
                    }
                }
            },


            formIsValid() {
                this.errors = this.getErrors();
                let formIsValid = true;

                if(!this.updateData.password){
                    this.errors.password.show = true;
                    formIsValid=false;
                }else {
                    this.errors.password.show = false;
                }


                if(!this.updateData.password_confirmation){
                    this.errors.password_confirmation.show = true
                    formIsValid=false;
                }else {
                    this.errors.password_confirmation.show = true
                }


                if(this.updateData.password_confirmation!==this.updateData.password){
                    formIsValid=false;
                    this.errors.password_confirmation.message = "Password do not match";
                    this.errors.password_confirmation.show = true
                }else {
                    this.errors.password_confirmation.show = false

                }

                return formIsValid;
            },


            changePassword(){
                if(this.formIsValid()){
                    this.sendingRequest = true;
                    http.post("account/change-password",this.updateData)
                        .then((res)=>{
                            toast.success("Password was updated successfully");
                            this.updateData.password = '';
                            this.updateData.password_confirmation = '';
                        })
                        .catch((err)=>{
                            toast.error("Oops something went wrong")
                        })
                        .finally(()=>{
                            this.sendingRequest = false;
                        })
                }

            }
        },

        created(){
            this.errors = this.getErrors()
        }
    }
</script>

<style scoped>

</style>