<template>
    <div class="deals">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Manage Deals       </li>
                </ul>
            </div>
        </div>

        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Deals</h1>
                        </header>
                    </div>
                    <div class="col-md-2 pt-4">
                        <button @click="newDeal" class="btn  btn-primary">New Deal</button>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <div class="list">
                            <h5 class="card-header">Current Deals</h5>
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Thumbnail</th>
                                        <th>Product name</th>
                                        <th>Cost Price</th>
                                        <th>Selling Price</th>
                                        <th>Discount Price</th>
                                        <th>Sales</th>
                                        <th>Views</th>
                                        <th>Remove</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(deal,index) of productDeals">
                                        <td>{{index+1}}</td>
                                        <td></td>
                                        <td>{{deal.product.product_name}}</td>
                                        <td>&#8358;{{deal.product.cost_price}}</td>
                                        <td>&#8358;{{deal.product.selling_price}}</td>
                                        <td>&#8358;{{deal.product.discount_price}}</td>
                                        <td></td>
                                        <td>{{deal.product.views}}</td>
                                        <td><button @click="removeDeal(index)" class="btn btn-sm btn-danger">Remove</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section>
            <div class="modal fade" id="deal-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <!--<div class="form-group">-->
                                <!--<label for="expire-at">Deal Expire at </label>-->
                                <!--<input v-model="expireAt" type="datetime-local" id="expire-at" class="form-control" >-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="product-name">Enter product name</label>
                                <input v-model="productName" id="product-name" class="form-control" placeholder="Enter product name to search">
                            </div>

                            <div class="products">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Thumbnail</th>
                                                <th>Product name</th>
                                                <th>Cost Price</th>
                                                <th>Selling Price</th>
                                                <th>Discount Price</th>
                                                <th>Add</th>
                                                <!--<th>Edit</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(product,index) of filteredProducts">
                                                <td>{{index+1}}</td>
                                                <td></td>
                                                <td>{{product.product_name}}</td>
                                                <td>&#8358;{{product.cost_price}}</td>
                                                <td>&#8358;{{product.selling_price}}</td>
                                                <td>&#8358;{{product.discount_price}}</td>
                                                <td><button @click="addToDeals(index)" class="btn btn-sm btn-primary">Add</button></td>
                                                <!--<td><button  class="btn btn-sm btn-primary">Edit</button></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">{{modal.btnText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import $ from "jquery";
    import _ from "lodash"
    import {toast,http } from "../../../utils"
    export default {
        name: "FlashDeals",

        data:()=>({
            modal:{},
            productName:'',
            filteredProducts:[],
            productDeals:[],
            expireAt:''

        }),

        computed:{
            products(){
                return this.$store.state.products.products;
            },
        },
        watch:{
            productName(newVal,oldVal){

                let originalProductsArray = Array.from(this.products);

                if(newVal===''){
                    this.filteredProducts = []
                }else {
                    this.filteredProducts = originalProductsArray.filter((product)=>{

                        for(const deal of this.productDeals){
                            if(deal.product.id === product.id)
                                return false;
                        }
                        return  product.product_name.toLowerCase().indexOf(newVal.toLowerCase())!==-1;
                    });
                }

            }
        },
        methods:{
            openModal(){
                $("#deal-modal").modal("show")
            },

            closeModal(){
                $("#deal-modal").modal("hide")

            },

            newDeal(){
                this.modal = {
                    title:"New Deal",
                    btnText:"Add",
                };
                this.openModal();
            },

            getDeals(){
                http.get("admin/promotion/deal/list")
                    .then((res)=>{
                        this.productDeals.push(...res.data.data);
                    })
            },

            addToDeals(index){
                let product = this.filteredProducts[index];

                let requestObj = {
                    product_id:product.id,
                    expire_at:this.expireAt
                };

                http.post("admin/promotion/deal/add",requestObj)
                    .then((res)=>{
                        this.productDeals.push(res.data.data);
                        this.filteredProducts.splice(index,1);
                        toast.success("Product added");
                        this.closeModal();
                    });

            },


            removeDeal(index){
                if(confirm("Do you want to remove deal?")){
                    http.delete("admin/promotion/deal/delete/"+this.productDeals[index].id)
                        .then((res)=>{
                            this.productDeals.splice(index,1);
                            toast.success("Product removed successfully");
                        });

                }

            }
        },

        created() {
            this.getDeals();
        }
    }
</script>

<style scoped>

</style>