<template>
    <div class="categories-page">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Home</router-link> </li>
                    <li class="breadcrumb-item active">Categories       </li>
                </ul>
            </div>
        </div>
        <section class="categories">
            <div class="container-fluid">
                <!-- Page Header-->
                <header>
                    <h1 class="h3 display">Categories</h1>
                </header>


                <div class="row">
                    <div class="col-lg-6">
                       <main-categories></main-categories>
                    </div>
                    <div class="col-lg-6">
                      <sub-categories></sub-categories>
                    </div>
                    <div class="col-lg-8">
                        <sub-sub-categories></sub-sub-categories>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import MainCategories from "./MainCategories";
    import SubCategories from "./SubCategories";
    import SubSubCategories from "./SubSubCategories";
    export default {
        name: "Categories",
        components: {SubSubCategories, SubCategories, MainCategories}
    }
</script>

<style scoped>


</style>