<template>
    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-md-9">
                    <h4>Main Categories</h4>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" @click="newCategory">Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm">
                    <thead>
                        <tr >
                            <th class="border-top-0">Category Name</th>
                            <th class="border-top-0">Children Count</th>
                            <th class="border-top-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(category,index) of categories" :key="index">
                            <td>{{category.category_name}}</td>
                            <td>{{category.sub_categories.length}}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <button @click="editCategory(index)" class="btn btn-primary"><i class="fa fa-pencil"></i> </button>
                                    <div @click="deleteCategory(category.id)" class="btn btn-danger"><i class="fa fa-trash"></i> </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="main-cat-modal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form @submit.prevent="submitForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="m-cat-name">Category name</label>
                                <input v-model="category.category_name" class="form-control" :class="{'is-invalid':error.show}" type="text" id="m-cat-name" name="category_name">
                                <div v-show="error.show" class="invalid-feedback">{{error.message}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">{{modal.btnText}}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</template>

<script>
    import {toast,http } from  '../../../utils'
    export default {
        name: "MainCategories",
        data:()=>({
            formAction:"new",
            addingCategory:false,
            modal:{
              title:"New Main Category",
              btnText:"Add"
            },
           category:{
               category_name:''
           },

            error:{
               show:false,
                message:''
            }

        }),

        computed:{
           categories(){
               return this.$store.state.categories.mainCategories||[];
           }
        },

        methods:{

            openModal(){
                $("#main-cat-modal").modal("show");
            },

            hideModal(){
                $("#main-cat-modal").modal("hide");
            },


            newCategory(){
                this.formAction = 'new';
                this.modal={
                    title:"New Main Category",
                        btnText:"Add"
                };
                this.category = {
                    category_name:''
                };
                this.openModal();
            },

            editCategory(index){
                this.category = {...this.categories[index]};
                this.currentIndex = index;
                this.formAction = 'update';
                this.modal = {
                    title:"Edit Main Category",
                    btnText:"Update"
                };

                this.openModal();
            },


            submitForm(){

                if(this.category.category_name ===''){
                    this.error.show =true;
                    this.error.message = "Enter a category name";
                }else {
                    this.error.show = false;

                    if(this.formAction ==="new"){
                        this.addCategory();
                    }else {
                        this.updateCategory();
                    }
                }
            },

            addCategory(){
                this.addingCategory = true;
                this.$store.dispatch("addCategory",this.category)
                    .then((res)=>{
                            this.category.category_name = '';
                            this.hideModal();
                            toast.success("Category added")
                    },(err)=>{
                        toast.error("Oops something went wrong")
                       if(err.data.errors){
                           if(err.data.errors.category_name){
                               this.error.show = true;
                               this.error.message = err.data.errors.category_name[0]
                           }
                       }
                    })
                    .finally(()=>{
                        this.addingCategory = false;
                    })
            },

            updateCategory(){
                this.$store.dispatch("updateCategory",{category:this.category,index:this.currentIndex})
                .then((res)=>{

                });
            },


            deleteCategory(id){
                let yes = confirm("Are you sure you want to delete");
                if(yes){
                    this.$store.dispatch("deleteCategory",id)
                        .then((res)=>{
                        })
                }
            }


        },


        mounted(){

        }
    }
</script>

<style scoped>

</style>