<template>
    <div>
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-9">
                        <h4>Sub Categories</h4>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" @click="newCategory">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr >
                        <th class="border-top-0">Parent</th>
                        <th class="border-top-0">Category Name</th>
                        <!--<th class="border-top-0">Children Count</th>-->
                        <th class="border-top-0">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(category,index) of subCategories" :key="index">
                        <td>{{category.parent}}</td>
                        <td>{{category.category_name}}</td>
                        <td></td>
                        <td>
                            <div class="btn-group-sm">
                                <button @click="editCategory(index)" class="btn btn-primary"><i class="fa fa-pencil"></i> </button>
                                <div @click="deleteCategory(category.id)" class="btn btn-danger"><i class="fa fa-trash"></i> </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>



        <div class="modal fade" id="sub-cat-modal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form @submit.prevent="submitForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="main-cat">Main Category</label>
                                <select :class="{'is-invalid':errors.parent_id.show}" v-model="category.parent_id" class="form-control" id="main-cat">
                                    <option value="" disabled selected> Select..</option>
                                    <option v-for="(category,index) of mainCategories" :value="category.id">{{category.category_name}}</option>
                                </select>
                                <div class="invalid-feedback" v-if="errors.parent_id.show">{{errors.parent_id.message}}</div>
                            </div>

                            <div class="form-group">
                                <label for="m-cat-name">Category name</label>
                                <input v-model="category.category_name" :class="{'is-invalid':errors.category_name.show}" class="form-control" type="text" id="m-cat-name" name="category_name">
                               <div v-if="errors.category_name.show" class="invalid-feedback">{{errors.category_name.message}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary"> <i v-if="addingCategory" class="fa fa-spin fa-spinner"></i> {{modal.btnText}}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</template>

<script>
    import {toast,http } from  '../../../utils'

    export default {
        name: "SubCategories",
        data:()=>({
            formAction:"new",
            addingCategory:false,
            modal:{
                title:"New Sub Category",
                btnText:"Add"
            },
            category:{
                parent_id:'',
                category_name:''
            },

            errors:{

            }
        }),

        computed:{
            mainCategories(){
                return this.$store.state.categories.mainCategories;
            },

            subCategories(){
                return  this.$store.state.categories.subCategories;
            }
        },

        methods:{
            openModal(){
                $("#sub-cat-modal").modal("show");
            },

            hideModal(){
                $("#sub-cat-modal").modal("hide");
            },


            newCategory(){
                this.formAction = 'new';
                this.modal={
                    title:"New Sub Category",
                    btnText:"Add"
                };

                this.category = {
                    category_name:'',
                    main_category_id:''
                };

                this.openModal();
            },


            editCategory(index){
                this.category = {...this.subCategories[index]};
                this.currentIndex = index;
                this.formAction = 'update';
                this.modal = {
                    title:"Edit Sub Category",
                    btnText:"Update"
                };

                this.openModal();
            },


            submitForm(){

                if(this.formIsValid()){
                    if(this.formAction ==="new"){
                        this.addCategory();
                    }else {
                        this.updateCategory();
                    }
                }
            },

            addCategory(){
                this.addingCategory = true;
                this.$store.dispatch("addCategory",this.category)
                    .then((res)=>{
                        this.category.category_name = '';
                        this.hideModal();
                    },(err)=>{
                        toast.error("oops something went wrong")
                        if(err.data.errors){
                            Object.keys(err.data.errors)
                                .forEach((error)=>{
                                   this.errors[error].show = true;
                                   this.errors[error].message = err.data.errors[error][0]
                                });
                        }
                    })
                    .finally(()=>{
                        this.addingCategory = false;
                    })
            },

            updateCategory(){
                this.addingCategory = true;
                this.$store.dispatch("updateCategory",{category:this.category,index:this.currentIndex})
                    .then((res)=>{
                        toast.success('Category updated')
                    }).finally(()=>{
                    this.addingCategory = false;
                });
            },



            deleteCategory(id){
                let yes = confirm("Are you sure you want to delete");

                if(yes){
                    this.$store.dispatch("deleteCategory",id)
                        .then((res)=>{

                        })
                }

            },

            formIsValid(){
                let formIsValid = true;
                this.errors = this.getValidationErrors();

                let fields = Object.keys(this.errors);

                for(const field of fields){
                    if(this.category[field]===''){
                        this.errors[field].show = true;
                        formIsValid = false;
                    }else {
                        this.errors[field].show = false;
                    }
                }


                return formIsValid;

            },

            clearFields(){
               Object.keys(this.category).forEach((field)=>{
                   this.category[field] = ''
               })

            },



            getValidationErrors(){
                return {
                    parent_id:{
                        show:false,
                        message:"Select main Category"
                    },

                    category_name:{
                        show:false,
                        message:"Enter category name"
                    }
                }
            }

        },

        created(){
            this.errors = this.getValidationErrors();
        }
    }
</script>

<style scoped>

</style>