<template>
    <div>
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-9">
                        <h4>Sub Sub Categories</h4>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" @click="newCategory">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr >
                        <!--<th class="border-top-0">Parent</th>-->
                        <th class="border-top-0">Sub Category</th>
                        <th class="border-top-0">Category Name</th>
                        <th class="border-top-0">Commssion</th>
                        <!--<th class="border-top-0">Product Count</th>-->
                        <th class="border-top-0">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(category,index) of subSubCategories">
                        <!--<td>Fashion</td>-->
                        <td>{{category.parent}}</td>
                        <td>{{category.category_name}}</td>
                        <td>{{category.affiliate_commission}}%</td>
                        <!--<td>8</td>-->
                        <td>
                            <div class="btn-group-sm">
                                <button @click="editCategory(index)" class="btn btn-primary"><i class="fa fa-pencil"></i> </button>
                                <div @click="deleteCategory(category.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="modal fade" id="sub-sub-cat-modal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form @submit.prevent="submitForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--<div class="form-group">-->
                                <!--<label for="main-cat">Main Category</label>-->
                                <!--<select class="form-control" id="main-cat">-->
                                    <!--<option value="" disabled selected> Select..</option>-->
                                    <!--<option value="">Fashion</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="sub-cat">Sub Category</label>
                                <select v-model="category.parent_id" class="form-control" :class="{'is-invalid':errors.parent_id.show}" id="sub-cat">
                                    <option value="" disabled selected> Select..</option>
                                    <option v-for="(category,index) of subCategories" :key="index" :value="category.id">{{category.category_name}}</option>
                                </select>
                                <div v-if="errors.parent_id.show" class="invalid-feedback">{{errors.parent_id.message}}</div>
                            </div>


                            <div class="form-group">
                                <label for="m-cat-name">Category name</label>
                                <input v-model="category.category_name" :class="{'is-invalid':errors.category_name.show}" class="form-control" type="text" id="m-cat-name" name="category_name">
                                <div class="invalid-feedback" v-show="errors.category_name.show">{{errors.category_name.message}}</div>
                            </div>

                            <div class="form-group">
                                <label for="m-commission">Commission Rate</label>
                                <input v-model="category.affiliate_commission"  :class="{'is-invalid':errors.commission.show}" class="form-control" type="text" id="m-commission" name="category_name">
                                <div class="invalid-feedback" v-show="errors.commission.show">{{errors.commission.message}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">{{modal.btnText}}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</template>

<script>
    import {toast,http } from  '../../../utils'

    export default {
        name: "SubSubCategories",
        data:()=>({
            formAction:"new",
            addingCategory:false,
            modal:{
                title:"New Sub Sub Category",
                btnText:"Add"
            },
            category:{
                parent_id:'',
                category_name:'',
                affiliate_commission:''
            },

            errors:{

            }
        }),


        computed:{
           subSubCategories(){
               return this.$store.state.categories.subSubCategories;
           },

            subCategories(){
                return  this.$store.state.categories.subCategories;

            }
        },
        methods:{
            openModal(){
                $("#sub-sub-cat-modal").modal("show");
            },

            hideModal(){
                $("#sub-sub-cat-modal").modal("hide");
            },


            newCategory(){
                this.formAction = 'new';
                this.modal={
                    title:"New Sub Sub Category",
                    btnText:"Add"
                };

                this.category = {
                    category_name:'',
                    sub_category_id:'',
                    affiliate_commission:''
                };

                this.openModal();
            },

            editCategory(index){
                this.category = {...this.subSubCategories[index]};
                this.currentIndex = index;
                this.formAction = 'update';
                this.modal = {
                    title:"Edit Sub Sub Category",
                    btnText:"Update"
                };

                this.openModal();
            },


            submitForm(){
                if(this.formIsValid()){
                    if(this.formAction ==="new"){
                        this.addCategory();
                    }else {
                        this.updateCategory();
                    }
                }
            },



            addCategory(){
                this.addingCategory = true;
                this.$store.dispatch("addCategory",this.category)
                    .then((res)=>{
                        this.category.category_name = '';
                        this.category.sub_category_id ='';
                        this.hideModal();
                        toast.success("Category added")
                    },(err)=>{
                        if(err.data.errors){
                            Object.keys(err.data.errors)
                                .forEach((error)=>{
                                    this.errors[error].show = true;
                                    this.errors[error].message = err.data.errors[error][0]
                                });
                        }else {
                            toast.error("Oops Something went wrong")
                        }
                    })
                    .finally(()=>{
                        this.addingCategory = false;
                    })
            },

            updateCategory(){
                this.$store.dispatch("updateCategory",{category:this.category,index:this.currentIndex})
                    .then((res)=>{
                        toast.success("Category updated successfully")
                    },()=>{
                        toast.error("Oops Something went wrong")

                    }).finally(()=>{

                });
            },

            deleteCategory(id){
                let yes = confirm("Are you sure you want to delete");

                if(yes){
                    this.$store.dispatch("deleteCategory",id)
                        .then((res)=>{

                        })
                }

            },




            formIsValid(){
                let formIsValid = true;
                this.errors = this.getValidationErrors();

                let fields = Object.keys(this.errors);

                for(const field of fields){
                    console.log(field);
                    if(this.category[field]===''){
                        this.errors[field].show = true;
                        formIsValid = false;
                    }else {
                        this.errors[field].show = false;
                    }
                }


                return formIsValid;

            },

            clearFields(){
                Object.keys(this.category).forEach((field)=>{
                    this.category[field] = ''
                })

            },



            getValidationErrors(){
                return {
                    parent_id:{
                        show:false,
                        message:"Select Sub Category"
                    },

                    category_name:{
                        show:false,
                        message:"Enter category name"
                    },
                    commission:{
                        show:false,
                        message:''
                    }
                }
            }



        },

        created(){
            this.errors = this.getValidationErrors();

        }
    }
</script>

<style scoped>

</style>