<template>
    <div class="product-image" v-if="product.images">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 col-3" v-for="(image,index) of product.images">
                        <div class="thumbnail " >
                            <img :alt="product.product_name" @mouseover="showImage(index)"  @click="showImage(index)" class="img-fluid img" :src="image.file_location">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="single-image text-center">
                    <img  class="img-fluid" :src="bigImage || product.images[0].file_location">
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductImage",
        props:["product"],
        data:()=>({
            bigImage:null,
        }),
        methods:{

            showImage(index){
                this.bigImage = this.product.images[index].file_location
            }
        }


    }
</script>

<style scoped lang="scss">
    .product-image{

        background: white;
        border-right: solid 1px #e5e5e5;

        .thumbnail{
            cursor: pointer;
            padding: 5px;
            border: solid #e5e5e5 1px;
            margin: 1px;
        }
    }

</style>