<template>
    <div class="product-options">
        <div class="name d-none d-md-block">
            <h1>{{product.product_name}}</h1>
        </div>

        <div class="price mt-5">
            <div v-if="product.discount_price">
                <strong>Price:</strong>{{product.discount_price | currency}}
                <span class="old-price">{{product.selling_price | currency}}</span></div>

            <span v-else><strong>Price:</strong>{{product.selling_price | currency }} </span>
        </div>
        <div class="mt-2">
            <span><strong>Product Type: </strong>{{product.is_new==true?"New":"Used"}}</span>
        </div>

        <div class="options mt-3">
            <div class="qty">
                <span class="d-block"><strong>Quantity:</strong></span>
                <div class="qty-wrap">
                    <button :disabled="qty<2" @click="decreaseQty" class="btn-sm btn btn-primary minus">-</button>
                    <input v-model="qty" type="number" value="1" class="option-input">
                    <button :disabled="qty>=product.available_qty" @click="increaseQty" class="btn-sm btn btn-primary plus">+</button>
                </div>
            </div>
        </div>
        <div class="actions mt-5">
            <div class="row">
                <div class="col-6">
                    <button @click="addToCart" class="btn btn-block btn-primary mr-3">Add To Cart</button>
                </div>
                <div class="col-6">
                    <button @click="buyNow" class="btn btn-block btn-primary">Buy Now</button>
                </div>


            </div>
        </div>
    </div>
</template>

<script>

    import Cookies from 'js-cookie';
    export default {
        name: "ProductOptions",
        props:['product'],
        data:()=>({
            qty:1,
        }),
        methods:{
            increaseQty(){
                this.qty++;
            },
            decreaseQty(){
                this.qty--;
            },

            addToCart(){
                let promoter = Cookies.get('promoter');
                this.$store.commit("addToCart",{product:this.product,qty:this.qty,promoter})
            },

            buyNow(){
                this.addToCart();
                this.$router.push('/cart')
            }
        },

        mounted() {

        }
    }
</script>

<style scoped lang="scss">
    .name h1{
        font-size: 1.5em;
    }

    .price{
        font-size: 1.2em;

        .old-price{
            text-decoration: line-through;
            color: grey;
        }
    }

    .qty-wrap{
        input,button{
            height: 30px;
            border-radius: 0;
        }

        input{
            width: 70px;
            margin: 0;
            text-align: center;
            /*height: 29px;*/
            outline: none;
            border: solid 1px;
            border-color: #e5e5e5;
            box-shadow: none;
            margin-bottom: -1px;
            padding: 5px 5px;
        }

        button{
            padding: 5px 15px;
            margin-bottom: 2px;
        }

        .minus{
            border-radius: 10px 0 0 10px;
        }

        .plus{
            border-radius: 0 10px 10px 0;
        }

    }

</style>