<template>
    <div class="meta py-5">
        <ul class="nav nav-tabs nav-fill nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="false">Specification</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="des my-3">
                    {{product.description}}
                </div>
            </div>
            <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="specification-tab"></div>
            <!--<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">-->
                <!--<rating></rating>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
    import Rating from "./rating/Rating";
    export default {
        name: "ProductMeta",
        components: {Rating},
        props:["product"]
    }
</script>

<style scoped>

</style>