<template>
    <div class="rating">
        <div class="stars">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="rate"> 4.6 </span>
            <span class="t-votes">(89 reviews)</span>
        </div>
    </div>

</template>

<script>
    export default {
        name: "RatingStars"
    }
</script>

<style scoped>

</style>