<template>
    <div class="create-products">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active"><router-link to="/products">Products</router-link>       </li>
                    <li class="breadcrumb-item">{{pageInfo.title}}</li>
                </ul>
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">{{pageInfo.title}}</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                        <!--<div class="mt-4">-->
                        <!--<button @click="newProduct" class="btn-primary btn">Add Product</button>-->
                        <!--</div>-->
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-9">

                                <div class="form-group">
                                    <label for="product-name">Product Name</label>
                                    <input type="text"
                                           v-model="product.product_name"

                                           :class="{'is-invalid':errors.product_name.show}"
                                           id="product-name" class="form-control">
                                    <div v-if="errors.product_name.show" class="invalid-feedback" >{{errors.product_name.message}}</div>
                                </div>


                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cost-price">Cost Price</label>
                                            <input type="number"
                                                   id="cost-price"
                                                   class="form-control"
                                                   v-model="product.cost_price"
                                                   :class="{'is-invalid':errors.cost_price.show}">
                                            <div class="invalid-feedback"
                                                 v-if="errors.cost_price.show">{{errors.selling_price.message}}</div>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="selling-price">Selling Price</label>
                                            <input type="number"
                                                   id="selling-price"
                                                   :class="{'is-invalid':errors.selling_price.show}"
                                                   v-model="product.selling_price"
                                                   class="form-control">

                                            <div class="invalid-feedback"
                                                 v-if="errors.selling_price.show">{{errors.selling_price.message}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="discount-price">Discount Price</label>
                                            <input type="number"
                                                   v-model="product.discount_price"
                                                   :class="{'is-invalid':errors.discount_price.show}"
                                                   id="discount-price" class="form-control">
                                            <div class="invalid-feedback"
                                                 v-if="errors.discount_price.show">{{errors.discount_price.show}}</div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="qty">Available Qty</label>
                                            <input type="number"
                                                   v-model="product.available_qty"
                                                   :class="{'is-invalid':errors.available_qty.show}"
                                                   id="qty" class="form-control">
                                            <div class="invalid-feedback"
                                                 v-if="errors.available_qty.show">{{errors.available_qty.message}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="qty">Brand</label>
                                            <input type="text"
                                                   v-model="product.brand"
                                                   :class="{'is-invalid':errors.brand.show}"
                                                   id="brand" class="form-control">
                                            <div class="invalid-feedback"
                                                 v-if="errors.brand.show">{{errors.brand.message}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="d-block" for="qty">Product Type</label>


                                            <div class="form-check form-check-inline">
                                                <input name="is_new" v-model="product.is_new" class="form-check-input" type="radio" id="new" value="1">
                                                <label class="form-check-label" for="new">New</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="is_new" v-model="product.is_new" class="form-check-input" type="radio" id="old" value="0">
                                                <label  class="form-check-label" for="old">Old</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">Product Description</label>
                                    <textarea class="form-control"
                                              :class="{'is-invalid':errors.description.show}"
                                              v-model="product.description"
                                              rows="10" id="description"></textarea>
                                    <div class="invalid-feedback"
                                         v-if="errors.description.show"
                                    >{{errors.description.message}}</div>
                                </div>

                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-4">
                                    <button @click="submitForm" class="btn btn-info btn-block"><i class="fa fa-spin fa-spinner" v-if="sendingRequest"></i> {{pageInfo.postText}}</button>
                                    <!--<button class="btn btn-primary btn-block">Publish</button>-->
                                    <button @click="cancel()" class="btn btn-danger btn-block">Cancel</button>
                                </div>

                                <div class="mt-3">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select v-model="product.category_id"
                                                :class="{'is-invalid':errors.category_id.show}"
                                                class="form-control" id="category">
                                            <option value="" disabled selected>Select ...</option>
                                            <option v-for="(cat,index) of categories" :key="index" :value="cat.id">{{cat.category_name}}</option>
                                        </select>

                                        <div class="invalid-feedback"
                                             v-if="errors.category_id.show">{{errors.category_id.message}}</div>
                                    </div>
                                </div>

                                <div class="my-3">
                                    <!--<div class="form-group">-->
                                    <!--<label>Product Main Image</label>-->
                                    <!--<small v-if="errors.primary_image.show" class="form-text text-danger">{{errors.primary_image.message}}</small>-->



                                    <!--<div @click="showFileDialog">-->
                                    <!--<input ref="primary_image"-->
                                    <!--@change="showImage($event)"-->
                                    <!--type="file" class="d-none">-->


                                    <!--<img alt="" ref="productImg" class="img-fluid" src="/img/image-upload.png">-->
                                    <!--</div>-->
                                    <!--</div>-->





                                </div>
                            </div>
                        </div>



                        <div class="sections">


                            <div class="accordion" id="accordionExample">
                                <!--<div class="card">-->
                                <!--<div class="card-header" id="headingOne">-->
                                <!--<h5 class="mb-0">-->
                                <!--<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#product-img" aria-expanded="true" aria-controls="collapseOne">-->
                                <!--Product Options-->
                                <!--</button>-->
                                <!--</h5>-->
                                <!--</div>-->
                                <!--<div id="product-img" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">-->
                                <!--<div class="card-body">-->
                                <!--<div  class="row"></div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->



                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#product-img" aria-expanded="true" aria-controls="collapseOne">
                                                Product Images
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="product-img" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <small v-if="errors.primary_image.show" class="form-text text-danger">{{errors.primary_image.message}}</small>


                                            <div  class="row">
                                                <div class="col-md-2">
                                                    <div class="add-icon">
                                                        <input type="file" @change="showImage($event)" class="d-none" ref="fileInput">
                                                        <button class="img-add" @click="showFileDialog">
                                                            <span class="fa fa-camera"></span>
                                                        </button>
                                                    </div>

                                                </div>

                                                <div class="col-md-2" v-for="(img,index) of productImgs">
                                                    <div  class="product-img">
                                                        <button @click="removeImage(index)" title="Remove Image" class="rm-btn">&times;</button>
                                                        <img class="img-fluid" alt="" :src="img.file_location">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="card" v-if="false">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#product-spec" aria-expanded="false" aria-controls="collapseTwo">
                                                Product Specifications
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="product-spec" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group"></div>
                                                    <label for="product-type">Product Type</label>
                                                    <select id="product-type"  class="form-control">
                                                        <option value="" selected disabled > Select</option>
                                                        <option value="phone">Phone</option>
                                                        <option value="laptop">Laptop</option>
                                                        <option value="shoes">Shoes</option>
                                                        <option value="clothes">Clothes</option>
                                                    </select>
                                                </div>
                                                <div class="offset-md-6 col-md-2">
                                                    <div class="mt-5">
                                                        <button class="btn btn-primary">Add Attribute</button>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="product-types mt-5">
                                                <div class="row">
                                                    <div class="col-md-6 mx-auto">
                                                        <div class="">
                                                            <table class="table">
                                                                <tr v-for="(spec,index) of phoneSpecs">
                                                                    <td><label>{{spec.label}}:</label></td>
                                                                    <td><input type="text" :value="spec.value" :name="spec.name" class="form-control form-control-sm"></td>
                                                                </tr>
                                                            </table>




                                                        </div>


                                                    </div>
                                                </div>
                                            </div>









                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {toast,http } from  '../../../utils'
    export default {
        name: "NewProducts",
        data:()=>({
            phoneSpecs:[
                {
                    name:'screen_size',
                    label:"Screen size",
                    value:''
                },
                {
                    name:'rom',
                    label:"ROM",
                    value:''
                },
                {
                    name:'ram',
                    label:"RAM",
                    value:''
                },
                {
                    name:'battery',
                    label:"Battery",
                    value:''
                },
                {
                    name:'color',
                    label:"Color",
                    value:''
                },
                {
                    name:'front_camera',
                    label:"Front Camera",
                    value:''
                },
                {
                    name:'screen_size',
                    label:"Back Camera",
                    value:''
                }
            ],
            errors:{},
            pageInfo:{
                title:"New Product",
                postText:"Save"
            },
            productImgs:[],
            rawImgFiles:[],
            removedImages:[],
            isAddNew:true,
            product:{
                product_name:'',
                cost_price: '',
                selling_price: '',
                discount_price:'',
                available_qty: '',
                category_id: '',
                description: '',
                is_new:1,
                brand:'Generic'
            },
            sendingRequest:false,

        }),

        computed:{
            categories(){
                return this.$store.state.categories.subSubCategories;
            }

        },

        methods:{

            cancel(){
                this.$router.back();
            },

            showFileDialog(){
                this.$refs.fileInput.click();
            },



            showImage(event){
                let files = event.target.files;

                if(files.length>0){
                    let file = files[0];
                    if(file.type.match("image/*")){
                        this.rawImgFiles.push(file);
                        let reader = new FileReader();
                        reader.onload = (event)=>{
                            this.productImgs.push({id:null,file_location: event.target.result});
                        };
                        reader.readAsDataURL(file)
                    }else {
                        alert("File is not an image")
                    }

                }

            },


            removeImage(index){

                if(!this.isAddNew){
                    let image = this.productImgs[index];
                    if(image.id!=null){
                        this.removedImages.push(image.id);
                    }
                }

                this.productImgs.splice(index,1);


            },


            submitForm(){
                if(this.isAddNew){
                    this.addProduct();
                }else {
                    this.updateProduct();
                }
            },

            imageUploaded(){

                let validImage = true;

                if(this.isAddNew){
                    if(this.rawImgFiles.length<1){
                        this.errors.primary_image.show = true;
                        validImage = false;
                    }else{
                        validImage = true
                        this.errors.primary_image.show = false;
                    }
                }




                return validImage;
            },


            formIsValid(){
                this.errors = this.getValidationErrors();
                let isValid = true;
                let fields = Object.keys(this.product);

                console.log(fields);
                for (const field of fields){


                    if(field ==='discount_price')
                        continue;
                    if(this.product[field] === ''){
                        this.errors[field].show = true;
                        isValid = false;
                    }else {

                        if(this.errors[field]){
                            this.errors[field].show = false;
                        }

                    }

                }

                let image = this.imageUploaded();


                return isValid && image ;

            },


            getProduct(){
                let id = this.$route.params.id;
                http.get("admin/products/"+id)
                    .then((res)=>{
                        this.product = res.data.data;
                        this.productImgs.push(...res.data.data.images)
                    })
            },

            addProduct(){


                if(this.formIsValid()){
                    let formData = new FormData();

                    Object.keys(this.product).forEach((field)=>{
                        formData.append(field,this.product[field]);
                    });


                    for(let img of this.rawImgFiles){
                        formData.append("product_images[]",img,img.name);
                    }


                    this.sendingRequest = true;
                    this.$store.dispatch("addProduct",formData)
                        .then((res)=>{

                                toast.success("Product added successfully");
                                this.clearFields();
                            },
                            (err)=>{
                                let errors = err.data.errors;
                                toast.error("Something went wrong");
                                Object.keys(errors)
                                    .forEach((field)=>{
                                        this.errors[field].message = errors[field][0];
                                        this.errors[field].show = true;
                                    });

                            })
                        .finally(()=>{
                            this.sendingRequest = false;
                    })
                }



            },

            updateProduct(){
                if(this.formIsValid()){
                    let formData = new FormData();

                    Object.keys(this.product).forEach((field)=>{
                        formData.append(field,this.product[field]);
                    });


                    for(let img of this.rawImgFiles){
                        formData.append("product_images[]",img,img.name);
                    }


                    this.removedImages.forEach((id)=>{
                        formData.append("removed_images[]",id);
                    });


                    this.sendingRequest = true;
                    this.$store.dispatch("updateProduct",{form_data:formData,id:this.product.id})
                        .then((res)=>{
                                toast.success("Product Updated successfully");
                            },
                            (err)=>{
                                let errors = err.data.errors;
                                toast.error("Something went wrong");
                                Object.keys(errors)
                                    .forEach((field)=>{
                                        this.errors[field].message = errors[field][0];
                                        this.errors[field].show = true;
                                    });

                            }).finally(()=>{
                                this.sendingRequest = false;
                    })
                }

            },

            clearFields(){

                Object.keys(this.product).forEach((field)=>{
                    this.product[field] = '';
                });


                this.productImgs.splice(0,this.productImgs.length);
                this.rawImgFiles.splice(0,this.rawImgFiles.length);


            },


            getValidationErrors(){

                return {

                    product_name:{
                        show:false,
                        message:"Product name is required",
                    },

                    cost_price:{
                        show:false,
                        message:"Enter cost price",
                    },
                    selling_price:{
                        show:false,
                        message:"Enter selling price"
                    },
                    available_qty:{
                        show:false,
                        message:"Enter quantity"
                    },
                    description:{
                        show:false,
                        message:"Enter product description"
                    },
                    category_id:{
                        show:false,
                        message:"Select product category"
                    },
                    primary_image:{
                        show:false,
                        message:"Upload   atleast one product image"
                    },
                    discount_price: {
                        show:false,
                        message:''
                    },
                    brand:{
                        show:false,
                        message:'Enter product brand'
                    }
                }
            },

        },

        created(){
            this.errors = this.getValidationErrors();

            if(this.$route.name==="edit_product"){
                this.getProduct();
                this.isAddNew = false;
                this.pageInfo = {
                    title:"Edit Product",
                    postText:"Update"
                };
            }
        }
    }
</script>

<style scoped lang="scss">

    .accordion{

        .btn-block{
            text-align: left;
            outline: none;
            padding: 10px 8px;

            &:focus{
                box-shadow: none;
            }
        }

        .card{
            margin-top: 0;
            margin-bottom: 10px;

            .card-header{
                padding: 0;
            }
        }

        .add-icon{

            button{
                font-size: 3em;
                padding: 10px 25px;
                border: none;
                outline: none;
                background: #e5e5e5;
            }
        }

        .product-img{
            position: relative;
            .rm-btn{
                position: absolute;
                right: -5px;
                top:-5px;
                border-radius: 50%;
                background: red;
                color: white;
                outline: none;
                border: none;
                padding: 0px 6px;
                font-size: .8em;
                box-shadow: 0 0 5px black;
            }
        }
    }

</style>