<template>
    <div class="products">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Products       </li>
                </ul>
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Products</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                        <div class="mt-4">
                            <button @click="newProduct" class="btn-primary btn">Add Product</button>
                        </div>
                    </div>
                </div>


                <div>
                    <div class="card">
                        <div class="card-header">
                           <div class="row">
                               <div class="col-md-2">
                                   <h4>Product List</h4>
                               </div>
                               <div class="col-md-10">
                                   <div class="row">
                                       <div class="col-md-4">
                                           <label class="filter-label">Sort By category</label>
                                           <select class="form-control form-control-sm">
                                               <option disabled selected value="">Filter</option>
                                               <option value="all">All</option>
                                               <option v-for="(cat,i) of categories" :key="i">{{cat.category_name}}</option>
                                           </select>
                                       </div>
                                       <div class="col-md-4">
                                           <label class="filter-label">Search</label>
                                           <input class="form-control-sm form-control" placeholder="Search ...">
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Thumbnail</th>
                                        <th>Product Name</th>
                                        <th>Categories</th>
                                        <th>Available Qty</th>
                                        <th>Total Sales</th>
                                        <th>Total Views</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product,index) of products">
                                        <td>{{index+1}}</td>
                                        <td class="text-center">
                                            <img width="70px" class="img-thumbnail" :src="product.images[0].file_location"> </td>
                                        <td>{{product.product_name}}</td>
                                        <td>{{product.category.category_name}}</td>
                                        <td>{{product.available_qty}}</td>
                                        <td>{{product.order_items_count}}</td>
                                        <td>{{product.views}}</td>
                                        <td>
                                            <div class="btn-group-sm btn-group">
                                                <router-link :to="'products/edit/'+product.id" class="btn btn-info">Edit</router-link>
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "ProductList",
        methods:{
            newProduct(){
                this.$router.push("products/create")
            },

        },

        computed:{
            products(){
                return this.$store.state.products.products;
            },

            categories(){
                return this.$store.state.categories.subSubCategories;
            }
        }
    }
</script>

<style scoped>

</style>