<template>
    <div class="orders">
        <div class="breadcrumb-holder">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><router-link to="dashboard">Dashboard</router-link> </li>
                    <li class="breadcrumb-item active">Manage Orders       </li>
                </ul>
            </div>
        </div>
        <section>
            <div class="container-fluid">
                <!-- Page Header-->

                <div class="row">
                    <div class="col-md-10">
                        <header>
                            <h1 class="h3 display">Orders</h1>
                        </header>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <div class="list" v-if="!showDetailsPane">
                        <h5 class="card-header">Order List</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Reference</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(order,index) of orders" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{order.customer.first_name+" "+ order.customer.last_name}}</td>
                                <td>{{order.id | formatRef}}</td>
                                <td>{{order.created_at}}</td>
                                <td>&#8358;{{order.amount}}</td>
                                <td>{{order.status}}</td>
                                <td><button @click="showOrderDetails(order,index)" class="btn-sm btn btn-primary">View Details</button> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="details" v-if="showDetailsPane">
                        <div class="row card-header">
                            <div class="col-md-6">
                                <h5 >Order Details</h5>
                            </div>
                            <div class="col-md-6 text-right">
                                <button @click="showDetailsPane = false" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i> Back to orders</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="font-weight-bold d-block">Customer</span>
                                <span class=" d-block">{{currentOrder.customer.first_name+" "+currentOrder.customer.last_name }}</span>
                            </div>
                            <div class="col">
                                <span class="font-weight-bold d-block">Phone No</span>
                                <span class=" d-block">{{currentOrder.customer.phone_no }}</span>
                            </div>

                            <div class="col">
                                <span class="font-weight-bold d-block">Email</span>
                                <span class=" d-block">{{currentOrder.customer.email }}</span>
                            </div>

                            <div class="col">
                                <span class="font-weight-bold d-block">Reference</span>
                                <span class=" d-block">{{currentOrder.id | formatRef}}</span>
                            </div>

                            <div class="col">
                                <span class="font-weight-bold d-block">Amount</span>
                                <span class=" d-block">{{currentOrder.amount | currency}}</span>
                            </div>

                            <div class="col">
                                <span class="font-weight-bold d-block">Status</span>
                                <span class=" d-block">{{currentOrder.status }}</span>
                            </div>

                            <div class="col">
                                <span class="font-weight-bold d-block">Action</span>
                                <button @click="changeOrderStatus('Confirmed')" v-if="currentOrder.status === 'Pending'" class="btn btn-info btn-sm">
                                    <i v-if="updatingStatus" class="fa fa-spinner fa-spin"></i> Confirm Order</button>
                                <button @click="changeOrderStatus('Being Shipped')" v-if="currentOrder.status === 'Confirmed'" class="btn btn-info btn-sm"> <i v-if="updatingStatus" class="fa fa-spinner fa-spin"></i> Mark as  Shipped</button>
                                <button @click="changeOrderStatus('Delivered')"  v-if="currentOrder.status === 'Being Shipped'" class="btn btn-info btn-sm"> <i v-if="updatingStatus" class="fa fa-spinner fa-spin"></i> Mark as  Completed</button>
                               <button disabled v-if="currentOrder.status === 'Delivered'" class="btn btn-info btn-sm"> <i v-if="updatingStatus" class="fa fa-spinner fa-spin"></i> Delivered</button>
                            </div>
                        </div>

                        <div class="items my-5">
                            <h6 class="font-weight-bold">Ordered Items</h6>

                            <div class="row">
                                <div v-for="(item, index) of currentOrder.order_items" class=" card col-md-2 my-2">
                                    <div class=" product" >
                                        <div class="card-body">
                                            <div>
                                                <img  alt="" class="img-fluid" :src="item.product.images[0].file_location">
                                            </div>
                                            <div class="meta">
                                                <label class="product-name d-block">
                                                    {{item.product.product_name}}
                                                </label>
                                                <span class="price d-block price">
                                                {{item.amount | currency
                                                    }}
                                            </span>
                                                <span class="d-block qty">X{{item.qty}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {http,toast} from "../../../utils";

    export default {
        name: "Orders",
        data:()=>({
            orders:[],
            showDetailsPane:false,
            currentOrder:{},
            updatingStatus:false,
        }),
        methods:{
            getOrders(){
                http.get("admin/order/list")
                    .then((res)=>{
                        this.orders.push(...res.data.data);

                    })
            },

            showOrderDetails(order,index) {
                this.currentIndex = index;
                this.showDetailsPane = true;
                this.currentOrder = order;
            },

            changeOrderStatus(status){
                let data = {status,id:this.currentOrder.id};
                this.updatingStatus = true;

                http.post("admin/order/update-status",data)
                    .then((res)=>{
                        console.log(this.currentIndex);
                        this.currentOrder = res.data.data;

                        this.$set(this.orders,this.currentIndex,res.data.data);
                        toast.success("Order Status Updated successfully")
                    },()=>{
                        toast.error("Oops something went wrong")
                    }).finally(()=>{
                        this.updatingStatus = false;
                });
            },

        },
        created(){
            this.getOrders();
        }

    }
</script>

<style scoped lang="scss">
    .product{
        .price{
            font-size: .7em;
        }

        .product-name{
            font-size: .8em;
        }
        .qty{
            font-size: .7em;
        }
    }

</style>