<template>
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                        <div class="brand-text d-none d-md-inline-block"><span>Muzula </span><strong class="text-primary ml-4">Dashboard</strong></div></a></div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Notifications dropdown-->
                        <!--<li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>-->
                            <!--<ul aria-labelledby="notifications" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification d-flex justify-content-between">-->
                                        <!--<div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification d-flex justify-content-between">-->
                                        <!--<div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification d-flex justify-content-between">-->
                                        <!--<div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification d-flex justify-content-between">-->
                                        <!--<div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>-->
                                        <!--<div class="notification-time"><small>10 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; Messages dropdown&ndash;&gt;-->
                        <!--<li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>-->
                            <!--<ul aria-labelledby="notifications" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!-- Languages dropdown    -->
                        <!--<li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>-->
                            <!--<ul aria-labelledby="languages" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/DE.png" alt="English" class="mr-2"><span>German</span></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/FR.png" alt="English" class="mr-2"><span>French                                                         </span></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!-- Log out-->
                        <li class="nav-item"><a @click="logOut" href="javascript:void(0)" class="nav-link logout"><i v-if="loggingOut" class="fa fa-spin fa-spinner"></i>  <span class="d-none d-sm-inline-block">{{logoutText}}</span><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
    import Auth from "../../../utils/Auth";
    import {http,toast} from "../../../utils";


    export default {
        name: "AppHeader",
        data:()=>({
            logoutText:"Logout",
            loggingOut:false
        }),
        methods:{

            logOut(){
                if(!this.loggingOut){
                    this.logoutText = "Logging Out";
                    http.post("account/logout")
                        .then(()=>{
                            Auth.logoutUser();
                            this.$router.push('/login');
                        })
                        .catch((err)=>{
                            toast.error("Oops something went wrong")
                        })
                        .finally(()=>{
                            this.logoutText = "Logout";
                            this.loggingOut = false;
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>