<template>
    <div class="overview">
        <div class="header">
            <h5>Account Overview</h5>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Contact Information</div>
                   <div class="card-body">
                       <span class="name d-block text-uppercase font-weight-bold">{{user.first_name+" "+user.last_name}}</span>
                       <span class="d-block">{{user.phone_no}}</span>
                       <span class="d-block">{{user.email}}</span>
                   </div>
                    <div class="card-footer text-right">
                        <router-link to="/account/edit">Edit account</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Address Book
                    </div>
                    <div class="card-body">
                        <div class="address" v-for="(address,index) of user.addresses">
                            <div class="address-data">
                                <span class="d-block  font-weight-bold">{{address.address}}</span>
                                <span class="name  d-block">{{address.first_name+" "+address.last_name}}</span>
                                <span class="d-block">{{address.additional_info }}</span>
                                <span class="d-block">{{address.phone_no}} <span v-if="address.phone_no2">, {{address.phone_no2}}</span></span>
                                <span class="d-block text-sm">{{` ${address.lga},  ${address.state}`}}</span>
                            </div>
                            <div class="address-action d-flex justify-content-between">
                                <button @click="editAddress(index)" class="btn btn-default btn-sm">Edit</button>
                                <button @click="deleteAddress(index,address.id)" class="btn btn-default btn-sm">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button @click="openModal" class="btn btn-sm btn-primary">Add Address</button>
                    </div>
                </div>
            </div>
        </div>
        <address-modal
                v-bind:isEditing="editingAddress"
                v-bind:address="editedAddress"
                @addressAdded="addAddress($event)"
                @addressUpdated="addressUpdated($event)"
                @modalClosed="clearEditing">

        </address-modal>
    </div>
</template>

<script>
    import AddressModal from "../components/account/AddressModal";
    import $ from "jquery";
    import {http,toast} from "../../utils";
    import addressManager from "../mixins/addressManager";

    export default {
        name: "AccountView",
        components: {AddressModal},
        data:()=>({
            editingAddress:false,
            editedAddress:null,
        }),

        mixins:[addressManager],
        // methods:{
        //
        //     openModal(){
        //         $("#address-modal").modal("show");
        //     },
        //
        //     addAddress(address){
        //         this.$store.commit("addAddress",address);
        //     },
        //
        //     deleteAddress(index,id){
        //         if(confirm("Do you want to delete address")){
        //              http.delete("user/delete-address/"+id)
        //                  .then((res)=>{
        //                      this.$store.commit("deleteAddress",index);
        //                     toast.success("Address deleted successfully")
        //                  },()=>{
        //                      toast.error("Oops something went wrong");
        //                  })
        //
        //         }
        //     },
        //
        //     addressUpdated(address){
        //         this.$store.commit("updateAddress",{index:this.currentIndex,address})
        //     },
        //
        //     clearEditing(){
        //        this.editingAddress = false;
        //        this.editedAddress = null;
        //     },
        //
        //     editAddress(index){
        //
        //         this.editedAddress = this.user.addresses[index];
        //         this.editingAddress = true;
        //         this.currentIndex = index;
        //         this.$nextTick(()=>{
        //             $("#address-modal").modal("show");
        //         })
        //
        //     },
        // },
        computed:{
            user(){
                return this.$store.state.user;
            }
        }
    }
</script>

<style scoped lang="scss">

    .address{
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 25px !important;

        .address-action{
            margin-top: 5px;
            border-top: solid 1px #e5e5e5;

            button{
                outline: none;
                border: none;
                font-size: .75em;
            }

            button:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
        span{
            font-size: .9em;
        }
    }

</style>