<template>
    <div class="container">
        <div class="account py-5">

            <div class="header mb-4">
                <h4>My Account</h4>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <router-link to="/account" class="list-group-item list-group-item-action">Account Overview</router-link>
                        <router-link to="/account/edit" class="list-group-item list-group-item-action">Edit Account</router-link>
                        <router-link to="/account/orders" class="list-group-item list-group-item-action">My Orders</router-link>
                        <router-link to="/account/change-password" class="list-group-item list-group-item-action">Change Password</router-link>
                    </div>
                </div>
                <div class="col-md-9">
                  <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Auth from "../../utils/Auth";

    export default {
        name: "Account",
        methods:{

        },


        mounted(){
           if(!Auth.userIsLogged()){
               this.$router.push('/login');
           }

        }
    }
</script>

<style scoped>

</style>