<template>
    <div class="container">
        <div class="  cart py-5">
            <div class="header">
                <h4>Your Cart</h4>
                <hr>
            </div>
            <div class="products"  v-if="cartProducts.length>0">
                <div class="row heading d-none d-md-flex">

                    <div class="col-md-6">
                        <h5>ITEM</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-center">QTY</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-center">UNIT PRICE</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-center">SUBTOTAL</h5>
                    </div>
                </div>
                <div class="product my-1"  v-for="(item,index) of cartProducts" :key="index">
                    <div class="row no-gutters">
                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-md-3 col-5">
                                    <div class="image">
                                        <img :alt="item.product.product_name" :src="item.product.images[0].file_location" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-8 col-7">
                                    <div class="product-name">
                                        <p>{{item.product.product_name}} </p>
                                    </div>

                                    <div class="mobile">
                                        <div class="price text-left">
                                            <span v-if="item.product.discount_price"  class="price-text">{{item.product.discount_price*item.qty | currency}}</span>
                                            <span v-else="item.product.selling_price"  class="price-text">{{item.product.selling_price*item.qty | currency}}</span>
                                        </div>
                                    </div>


                                    <div class="action d-md-none  border-top pt-2 mt-2 row">
                                        <div class="qty p-0 col-4 ">
                                            <select v-model="item.qty" @change="updateQty({qty:item.qty,product:item.product})" class="form-control form-control-sm">
                                                <option v-for="(n,i) of item.product.available_qty">{{n}}</option>
                                            </select>
                                        </div>
                                        <div class="rm mt-md-4 col-6">
                                            <button  @click="removeItem(index)" class="btn btn-sm btn-primary">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-8">
                            <div class="action d-none d-md-block text-center ">
                                <div class="qty  ">
                                    <select v-model="item.qty" @change="updateQty({qty:item.qty,product:item.product})" class="form-control">
                                        <option v-for="(n,i) of item.product.available_qty">{{n}}</option>
                                    </select>
                                </div>
                                <div class="rm mt-md-4 ">
                                    <button  @click="removeItem(index)" class="btn btn-sm btn-primary">Remove</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-none d-md-block">
                            <div class="price pt-5">
                                <span v-if="item.product.discount_price" class="price-text">{{item.product.discount_price | currency}}</span>
                                <span v-else="item.product.selling_price" class="price-text">{{item.product.selling_price | currency}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 pt-5 d-none d-md-block">
                            <div class="price">
                                <span v-if="item.product.discount_price"  class="price-text">{{item.product.discount_price*item.qty | currency}}</span>
                                <span v-else="item.product.selling_price"  class="price-text">{{item.product.selling_price*item.qty | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="total-summary">
                    <div class="summary text-right">
                        <h5>Total : {{cartTotal | currency }}</h5>
                    </div>
                </div>

                <div class="checkout my-4 text-center">
                    <button @click="checkout" class="btn btn-primary">Checkout</button>
                </div>
            </div>

            <div v-else class="message">
                <p>You currently don't have any product in your  cart</p>
            </div>

        </div>

    </div>

</template>

<script>
    export default {
        name: "Cart",
        methods:{

            removeItem(index){
                this.$store.commit("removeItem",index)
            },

            updateQty(item){

                item.qty = parseInt(item.qty);


                this.$store.commit('increaseQty',item)
            },

            checkout(){
                this.$router.push("/checkout")
            },

            getProducts(){
                http.post('/get')
            }
        },
        computed:{
            cartProducts(){
                return this.$store.state.cart.cartItems;
            },

            cartTotal(){
                let total = 0;

                this.cartProducts.forEach((item)=>{
                    if(item.product.discount_price){
                        total+=item.qty*item.product.discount_price
                    }else {
                        total+=item.qty*item.product.selling_price
                    }
                });
                return total;
            },


        },

        created(){

        }
    }
</script>

<style scoped lang="scss">
    .products{
        .heading{
            h5{
                color: lighten(grey,15%);
            }
        }
    }

    .message{
        p{
            font-size: 1.5em;
            text-align: center;
            color: grey;
        }
    }

    .product{
        background: #fff;
        box-shadow: 0 0 2px lighten(black,80%);

        &> .row > div[class^='col']{
            border-left: solid 1px lighten(grey,35%);
            padding: 10px 10px;
        }

        .product-name{
            font-weight: bold;
            text-transform: uppercase;
            
        }

        div[class^='col']:first-child{
            border: none;
        }

        .qty{
            padding: 10px 40px;
        }



        .price{
            text-align: center;
        }
    }

    .total-summary{
        background: #fff;
        padding: 10px 20px;
    }


</style>