<template>
    <div class="edit-account">
        <div class="header">
            <h4>Change Password</h4>
            <hr>
        </div>
        <div class="form">
            <form @submit.prevent="changePassword" novalidate>
                <div class="form-group row">
                    <label for="new-password" class="col-md-3">New Password</label>
                    <div class="col-md-9">
                        <input type="password"
                               :class="{'is-invalid':errors.password.show}"
                               v-model="updateData.password"
                               id="new-password" class="form-control" required>
                        <small
                                v-if="errors.password.show"
                                class="text-danger">{{errors.password.message}}</small>
                    </div>

                </div>



                <div class="form-group row">
                    <label class="col-md-3" for="password-confirm">Confirm Password</label>
                    <div class="col-md-9">
                        <input type="password"
                               :class="{'is-invalid':errors.password_confirmation.show}"
                               v-model="updateData.password_confirmation"
                               id="password-confirm" class="form-control" required>
                        <small v-if="errors.password_confirmation.show"
                               class="text-danger"
                        >{{errors.password_confirmation.message}}</small>
                    </div>
                </div>






                <div class="">
                    <button type="submit" :disabled="sendingRequest" class="btn-primary btn">
                        <i  v-if="sendingRequest" class="fa fa-spinner fa-spin"></i>   Update Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {http,toast} from "../../utils";

    export default {
        name: "ChangePassword",
        data:()=>({
            errors:{},
            sendingRequest:false,
            updateData:{
                password:'',
                password_confirmation: ''
            }
        }),

        methods:{

            getErrors(){
                return {
                    password:{
                        show:false,
                        message:"Enter a new Password"
                    },
                    password_confirmation:{
                        show:false,
                        message:"Confirm your password"
                    }
                }
            },


            formIsValid() {
                this.errors = this.getErrors();
                let formIsValid = true;

                if(!this.updateData.password){
                    this.errors.password.show = true;
                    formIsValid=false;
                }else {
                    this.errors.password.show = false;
                }


                if(!this.updateData.password_confirmation){
                    this.errors.password_confirmation.show = true
                    formIsValid=false;
                }else {
                    this.errors.password_confirmation.show = true
                }


                if(this.updateData.password_confirmation!==this.updateData.password){
                    formIsValid=false;
                    this.errors.password_confirmation.message = "Password do not match";
                    this.errors.password_confirmation.show = true
                }else {
                    this.errors.password_confirmation.show = false

                }

                return formIsValid;
            },


            changePassword(){
                if(this.formIsValid()){
                    this.sendingRequest = true;
                    http.post("account/change-password",this.updateData)
                        .then((res)=>{
                            toast.success("Password was updated successfully");
                            this.updateData.password = '';
                            this.updateData.password_confirmation = '';
                        })
                        .catch((err)=>{
                            toast.error("Oops something went wrong")
                        })
                        .finally(()=>{
                            this.sendingRequest = false;
                        })
                }

            }
        },

        created(){
            this.errors = this.getErrors()
        }
    }
</script>

<style scoped>

</style>