<template>
    <div class="edit-account">
        <div class="form">
            <form novalidate @submit.prevent="updateAccount">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="first-name">First Name</label>
                    <div class="col-md-9">
                        <input v-model="user.first_name"
                               :class="{'is-invalid':errors.first_name.show}"
                               type="text" id="first-name" class="form-control" required>
                        <small v-if="errors.first_name.show" class="text-danger">{{errors.first_name.message}}</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="last-name" class="col-md-3">Last Name</label>
                    <div class="col-md-9">
                        <input type="text"
                               :class="{'is-invalid':errors.last_name.show}"
                               v-model="user.last_name"
                               id="last-name" class="form-control" required>
                        <small
                                v-if="errors.last_name.show"
                                class="text-danger">{{errors.last_name.message}}</small>
                    </div>

                </div>


                <div class="form-group row">
                    <label for="gender" class="col-md-3">Gender</label>
                    <div class="col-md-9">




                        <select
                               :class="{'is-invalid':errors.gender.show}"
                               v-model="user.gender"
                               id="gender" class="form-control" >
                            <option value="" disabled selected>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <small
                                v-if="errors.gender.show"
                                class="text-danger">{{errors.gender.message}}</small>
                    </div>

                </div>


                <div class="form-group row">
                    <label class="col-md-3" for="email">Email</label>
                    <div class="col-md-9">
                        <input type="text"
                               disabled
                               :class="{'is-invalid':errors.email.show}"
                               v-model="user.email"
                               id="email" class="form-control" required>
                        <small v-if="errors.email.show"
                               class="text-danger"
                        >{{errors.email.message}}</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="phone" class="col-md-3">Phone No.</label>
                    <div class="col-md-9">
                        <input type="text"
                               :class="{'is-invalid':errors.phone_no.show}"
                               v-model="user.phone_no"
                               id="phone" class="form-control" required>

                        <small class="text-danger"
                               v-if="errors.phone_no.show"
                        >{{errors.phone_no.message}}</small>
                    </div>
                </div>




                <div class="">
                    <button type="submit" :disabled="sendingRequest" class="btn-primary btn">
                        <i  v-if="sendingRequest" class="fa fa-spinner fa-spin"></i>   Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

    import {http,toast} from "../../utils";
    import Auth from "../../utils/Auth";


    export default {
        name: "EditAccount",
        data:()=>({
            errors:{},
            sendingRequest:false,
            user:{
                first_name: '',
                last_name: '',
                email:'',
                phone_no: '',
                gender:'',
            }

        }),
        methods:{

            getUser(){
               let user = JSON.parse(localStorage.getItem('user'));

               this.user = {...this.user, ...user}
            },


            formIsValid(){

            },


            updateAccount(){
                this.sendingRequest = true;
                http.post("account/update",this.user)
                    .then((res)=>{
                        toast.success("Account was Updated Successfully")
                        Auth.storeUser(res.data.data.user);

                    })
                    .catch(()=>{
                        toast.error("Oops something went wrong");
                    })
                    .finally(()=>{
                        this.sendingRequest = false;
                    })

            },


            getValidationErrors() {

                return {
                    first_name:{
                        show:false,
                        message:"Enter your first name"
                    },

                    last_name:{
                        show:false,
                        message:"Enter your last name"
                    },

                    email:{
                        show:false,
                        message:"Enter a valid email"
                    },

                    phone_no:{
                        show:false,
                        message:"Phone no is required"
                    },

                    gender:{
                        show:false,
                        message:"Select your gender"
                    }
                }
            }
        },

        created(){
            this.errors = this.getValidationErrors();
            this.getUser();
        }
    }
</script>

<style scoped>

</style>