<template>
  <div class="home container">
    <div class="slider">
      <slider></slider>
    </div>
    <featured-categories></featured-categories>

    <flash-deals></flash-deals>
    <category-product-section v-for="(cat,index) of categories" :main_category="cat" :key="index"></category-product-section>

  </div>
</template>

<script>


import FeaturedProducts from "../components/home/featured-products/FeaturedProducts";
import CategoryProductSection from "../components/home/categoryProductSection/CategoryProductSection";
import Promotion from "../components/promotion/Promotion";
import FlashDeals from "../components/home/flash-deals/FlashDeals";
import CategoryGroups from "../components/home/category-groups/CategoryGroups";
import Slider from "../components/home/Slider";
import FeaturedCategories from "../components/home/FeaturedCategories";
export default {
  name: 'home',
  components: {
    Slider,
    CategoryGroups,
    FlashDeals,
    Promotion,
    CategoryProductSection,
    FeaturedProducts,
    FeaturedCategories
  },

  data:()=>({

  }),

  computed:{

     categories(){
       return this.$store.state.mainCategories;
     }
  },
  mounted() {
    // console.log(this.categories)
  }
}
</script>

<style lang="scss">

  .slider{
    margin-left: 260px;
    margin-top: 10px;

    @media (max-width: 576px) {

      margin-left: 0;

    }

    img{
      width: 100%;
    }

  }

</style>
