<template>
    <div class="login">
        <div class="container py-5">
            <div class="login-form">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                Login
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <form @submit.prevent="login">
                                        <div class="form-group row">
                                            <label class="col-md-3" for="email">Email</label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       v-model="user.email"
                                                       :class="{'is-invalid':errors.email.show}"
                                                       id="email" class="form-control" required>

                                                <small class="text-danger"
                                                       v-if="errors.email.show"
                                                >{{errors.email.show}}</small>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3" for="password">Password</label>
                                            <div class="col-md-9">
                                                <input type="password"
                                                       v-model="user.password"
                                                       :class="{'is-invalid':errors.password.show}"
                                                       id="password" class="form-control" required>
                                                <small class="text-danger"
                                                       v-if="errors.password.show">{{errors.password.message}}</small>
                                            </div>
                                        </div>
                                        <div class="">
                                            <button type="submit" class="btn-primary btn">Login</button>
                                        </div>
                                    </form>
                                  <div class="my-3">
                                      <p>New Customer? <router-link to="/register">Register Here</router-link></p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import {http,toast} from "../../utils";
    import AuthManager from "../utils/AuthManager";

    export default {
        name: "Login",
        data:()=>({
            errors:{},
            sendingRequest:false,
            user:{
                email:'',
                password:'',
            }
        }),
        methods:{
            login(){

                if(this.formIsValid()){
                    this.sendingRequest = true;

                    http.post("account/login",this.user)
                        .then((res)=>{
                                AuthManager.loginUser(res.data.data.user,res.data.data.token);
                                this.$store.commit("login");
                                this.$store.commit("setUser",res.data.data.user);
                                if(this.$route.query.backto){
                                    this.$router.push("/"+this.$route.query.backto);
                                }else{
                                    this.$router.push("/");
                                }

                            },
                            (err)=>{
                                if(err.response){
                                    let res = err.response;

                                    if(res.status ===402){
                                        toast.error("Invalid username or password")
                                    }else {
                                        toast.error("Oops something went wrong please try again")
                                    }
                                }else {
                                    toast.error("Oops something went wrong please try again" )
                                }


                            })
                        .finally(()=>{
                            this.sendingRequest = false;
                        })
                }

            },

            formIsValid(){

                let isValid = true;

                Object.keys(this.user)
                    .forEach((field)=>{
                        if(this.user[field] ===''){
                            isValid = false;
                            this.errors[field].show = true
                        }
                    });

                return isValid;
            },

            getValidationErrors(){
                return {

                    email:{
                        show:false,
                        message:'Enter your email'
                    },

                    password:{
                        show:false,
                        message:"Enter your password"
                    }
                }
            }
        },

        created(){
            this.errors = this.getValidationErrors();
        }
    }
</script>

<style scoped lang="scss">
    .login{
        background: lighten(#e5e5e5,6%);
    }

</style>