<template>
    <div class="main-category" v-if="category">
        <div class="container">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/" href="#">Home</router-link></li>
                        <li class="breadcrumb-item active" aria-current="page">{{category.category_name}}</li>
                    </ol>
                </nav>
            </div>
            <div class="row py-5">
                <div class="col-md-3 d-none d-sm-block">
                    <aside class="sidebar">
                        <div class="head">
                            <h6 class="title">Categories</h6>
                        </div>
                        <div class="sub-cats">
                            <router-link :to="getMainUrl(category)"><span class="cat px-4 pt-2">{{category.category_name}}</span></router-link>
                            <ul class="list-unstyled ml-5">
                                <li v-for="(cat,index) of category.sub_categories">
                                    <router-link :to="getSubUrl(cat)"> {{cat.category_name}}</router-link>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="header">
                        <h4>{{category.category_name}}</h4>
                    </div>


                    <div class="content" v-if="products.data.length>0">
                        <div class="filtering">
                            <div class="row flex-column-reverse">
                                <div class="col-md-5 col-12">
                                    <div class="row no-gutters">
                                        <div class="col-11"><span class="text-sm">Filter By Price</span></div>
                                        <div class="col-3">
                                            <input v-model="priceRange[0]" class="form-control-sm form-control">
                                        </div>
                                        <div class="col-6 mt-1">
                                            <vue-slider
                                                    :min="0"
                                                    :max="50000"
                                                    tooltip="none"
                                                    v-model="priceRange"
                                                    @change="handlePriceFilter"
                                            ></vue-slider>
                                        </div>
                                        <div class="col-3">
                                            <input v-model="priceRange[1]" class="form-control-sm form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3  mt-4 ml-auto col-12">
                                    <select class="form-control form-control-sm">
                                        <option>Sort Products</option>
                                        <option>By Relevance</option>
                                        <option>Price Low To High</option>
                                        <option>Price High To Low</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="product-list">
                            <div class="row">
                                <div class="col-md-3 col-6 my-3" v-for="product of products.data">
                                    <product :product="product"></product>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="c-pagination">
                            <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                        </div>
                    </div>
                    <div class="text-center" v-else>
                        <span class="no-content">There is currently no product in this category</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {http} from "../../utils";
    import Product from '../components/Product';
    import slugify from '@sindresorhus/slugify';
    import Pagination from 'laravel-vue-pagination'
    import VueSlider from 'vue-slider-component';
    import 'vue-slider-component/theme/default.css';
    import CategoryUrlMixin from  '../mixins/CategoryUrlMixin'

    export default {
        name: "MainCategory",
        mixins:[CategoryUrlMixin],
        data:()=>({
            category:null,
            catID:null,
            products:{data:[]},
            priceRange:[0,10000]
        }),
        components:{
            Product,Pagination,VueSlider
        },
        computed:{
            categories(){
                return this.$store.state.mainCategories;
            },
            catId(){
                return this.$route.params.id;
            }
        },

        watch:{
            categories(value){
                this.getCategory();
                console.log("called");
            },
            catId(val){
                this.catID = val;
                this.getCategory();

            }
        },
        methods:{
            getCategory(){
                this.category = this.categories.filter((cat)=>{
                    return cat.id == this.catID
                })[0];
                this.getProducts();
            },

            getProducts(page=1){
                http.get("products/main-category/"+this.catID+"?page="+page)
                    .then((res)=>{
                        this.products = res.data.data;

                    })
            },

            handlePriceFilter(value){
                console.log(value);
            }
        },
        created() {

            if(this.$route.params.id){
                this.catID = this.$route.params.id;
                if(this.categories.length>0){
                    this.getCategory();
                }

            }
        }
    }
</script>

<style scoped lang="scss">


    .sidebar{
        height: 100%;

        .head{
            .title{
                font-weight: bolder;
                font-size: 1.1em;
            }
        }
    }
    .sub-cats{
        background: #fff;
        height: 100%;

        a,.cat{
            font-weight: bold;
            font-size: .95em;
            display: block;
            color: darken(grey,20%);
        }

        a{
            font-weight: bold;
            font-size: .95em;
            display: block;
        }
    }

</style>