<template>
    <div class="orders">
        <div class="header">
            <h5>My Orders</h5>
        </div>
        <div  class="content">
            <table  v-if="!showDetailsPane" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Reference</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(order,i) of orders">
                        <td>{{i+1}}</td>
                        <td>{{order.id| formatRef}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.amount | currency }}</td>
                        <td><button @click="showOrderDetails(order)" class="btn-primary btn btn-sm">View Details</button> </td>
                    </tr>
                </tbody>
            </table>

            <div v-if="showDetailsPane" class="order-details">
                <div class="d-flex justify-content-between">
                    <h6>Order Details</h6>
                    <button @click="showDetailsPane=false" class="btn-sm btn-primary"><i class="fa fa-arrow-left"></i> Back to Orders </button>
                </div>
                <hr>

                <div class="details">
                    <div class="row">
                        <div class="col">
                            <span class="font-weight-bold d-block">Reference</span>
                            <span class=" d-block">{{currentOrder.id | formatRef}}</span>
                        </div>

                        <div class="col">
                            <span class="font-weight-bold d-block">Amount</span>
                            <span class=" d-block">{{currentOrder.amount | currency}}</span>
                        </div>

                        <div class="col">
                            <span class="font-weight-bold d-block">Status</span>
                            <span class=" d-block">{{currentOrder.status }}</span>
                        </div>

                        <!--<div class="col">-->
                            <!--<span class="font-weight-bold d-block">Tracking Code</span>-->
                            <!--<span class=" d-block"><a href="#"> {{currentOrder.payment_ref }}</a></span>-->
                        <!--</div>-->


                    </div>

                    <div class="items my-5">
                        <h6 class="font-weight-bold">Ordered Items</h6>

                        <div class="row">
                            <div v-for="(item, index) of currentOrder.order_items" class=" card col-md-3 my-2">
                                <div class=" product" >
                                    <div class="card-body">
                                       <div>
                                           <img  alt="" class="img-fluid" :src="item.product.images[0].file_location">
                                       </div>
                                        <div class="meta">
                                            <label class="product-name d-block">
                                                {{item.product.product_name}}
                                            </label>
                                            <span class="price d-block price">
                                                {{item.amount | currency}}
                                            </span>
                                            <span class="d-block qty">X{{item.qty}}</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    
</template>

<script>
    import {http} from "../../utils";

    export default {
        name: "Orders",
        data:()=>({
            orders:[],
            currentOrder:{},
            showDetailsPane:false
        }),

        methods:{
            getOrders(){
                http.get("order/list")
                    .then((res)=>{
                        this.orders.push(...res.data.data);
                    })
            },

            showOrderDetails(order){
                this.currentOrder = order;
                this.showDetailsPane = true
            },

            getTotalAmount(order){
                let sum =0;
                order.order_items.forEach((item)=>{
                  sum+=item.amount;
              });

                return sum;
            }


        },

        created() {
            this.getOrders();
        }
    }
</script>

<style scoped lang="scss">

    .product{
        .price{
            font-size: .7em;
        }

        .product-name{
            font-size: .8em;
        }
        .qty{
            font-size: .7em;
        }
    }

</style>