<template>
    <div class="product-view">
        <div class="container pt-3">
            <h1 class="d-md-none my-5 mobile product-name">{{product.product_name}}</h1>
            <div class="row">
                <div class="col-md-7">
                    <product-image  :product="product"></product-image>
                </div>
                <div class="col-md-5 col-12">
                    <product-options :product="product"></product-options>
                </div>
            </div>
            <product-meta :product="product"></product-meta>
        </div>
    </div>
</template>
<script>
    import ProductImage from "../components/product/ProductImage";
    import ProductOptions from "../components/product/ProductOptions";
    import ProductMeta from "../components/product/ProductMeta";
    import {http} from "../../utils";

    export default {
        name: "Product",

        components: {ProductMeta, ProductOptions, ProductImage},
        data:()=>({
            product:{},
            sendingRequest:false,

        }),
        methods:{
            getProduct(){
                let url = "products/"+this.$route.params.id;
                if(this.$route.query.ref)
                    url+='?promoter='+this.$route.query.ref;

                http.get(url)
                    .then((res)=>{
                        this.product = res.data.data;
                    });
            }

        },
        created() {
            this.getProduct();
        }

    }
</script>

<style scoped lang="scss">
    .mobile.product-name{
        font-size: 1.2em;
    }
    .product-view{
        margin-top: 30px;
        background: white;
    }

</style>