<template>
    <div class="main-category">
        <div class="container">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/" href="#">Home</router-link></li>
                        <li class="breadcrumb-item active" aria-current="page">Flash Deals</li>
                    </ol>
                </nav>
            </div>
            <div class="row py-5">
                <div class="col-md-3 d-none d-sm-block">
                    <aside class="sidebar">
                        <div class="head">
                            <h6 class="title">Categories</h6>
                        </div>
                        <sidebar-categories></sidebar-categories>
                        <!--<div class="sub-cats">-->
                            <!--<router-link :to="getMainUrl(category)"><span class="cat px-4 pt-2">{{category.category_name}}</span></router-link>-->
                            <!--<ul class="list-unstyled ml-5">-->
                                <!--<li v-for="(cat,index) of category.sub_categories">-->
                                    <!--<router-link :to="getSubUrl(cat)"> {{cat.category_name}}</router-link>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="header">
                        <h4>Flash Deals</h4>
                    </div>


                    <div class="content" v-if="products.data.length>0">
                        <div class="filtering">
                            <div class="row">
                                <div class="col-md-3 ml-auto col-6">
                                    <select class="form-control form-control-sm">
                                        <option>Sort Products</option>
                                        <option>By Relevance</option>
                                        <option>Price Low To High</option>
                                        <option>Price High To Low</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="product-list">
                            <div class="row">
                                <div class="col-md-3 col-6 my-3" v-for="deal of products.data">
                                    <product :product="deal.product"></product>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="c-pagination">
                            <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                        </div>
                    </div>
                    <div class="text-center" v-else>
                        <span class="no-content">There is currently no product deals</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {http} from "../../utils";
    import Product from '../components/Product';
    import slugify from '@sindresorhus/slugify';
    import Pagination from 'laravel-vue-pagination'
    import SidebarCategories from "../components/sidebars/SidebarCategories";

    export default {
        name: "FlashDeals",
        data:()=>({
            category:null,
            catID:null,
            products:{data:[]}
        }),
        components:{
            SidebarCategories,
            Product,Pagination
        },
        computed:{
            categories(){
                // return this.$store.state.mainCategories;
            },
            catId(){
                return this.$route.params.id;
            }
        },

        watch:{
            // categories(value){
            //     this.getCategory();
            //     console.log("called");
            // },
            // catId(val){
            //     this.catID = val;
            //     this.getCategory();
            //
            // }
        },
        methods:{
            getMainUrl(cat){
                return '/m-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },
            getSubUrl(cat){
                return '/s-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },
            getCategoryUrl(cat){
                return '/cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },
            getCategory(){


                // this.category = this.categories.filter((cat)=>{
                //     return cat.id == this.catID
                // })[0];
                // this.getProducts();





            },

            getProducts(page=1){
                http.get("promotion/deals/?page="+page)
                    .then((res)=>{
                        this.products = res.data.data;
                    })
            }
        },
        created() {

            this.getProducts();
        }
    }
</script>

<style scoped lang="scss">


    .sidebar{
        height: 100%;

        .head{
            .title{
                font-weight: bolder;
                font-size: 1.1em;
            }
        }
    }
    .sub-cats{
        background: #fff;
        height: 100%;

        a,.cat{
            font-weight: bold;
            font-size: .95em;
            display: block;
            color: darken(grey,20%);
        }

        a{
            font-weight: bold;
            font-size: .95em;
            display: block;
        }
    }

</style>