<template>
    <div class="products">
       <div class="container">
           <div>
               <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item"><a href="#">Library</a></li>
                       <li class="breadcrumb-item active" aria-current="page">Data</li>
                   </ol>
               </nav>
           </div>
           <div class="row py-5">
               <div class="col-md-3">
                   <aside class="sidebar">
                        <div class="head">
                            <h6 class="title">Phones and Tablet</h6>
                            <subcategories></subcategories>
                            <!--<product-options></product-options>-->

                        </div>
                   </aside>
               </div>
               <div class="col-md-9">
                   <div class="header">
                       <h4>Phones and Tablets</h4>
                   </div>
                   <div class="product-list">
                       <div class="row">
                           <div class="col-md-3" v-for="product of products">
                               <product :image="'product'+product+'.jpg'"></product>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</template>

<script>
    import Product from "../components/Product";
    import ProductOptions from "../components/sidebars/ProductOptions";
    import Subcategories from "../components/sidebars/SidebarCategories";
    // import ProductOptions from "../components/product/ProductOptions";
    export default {
        name: "Products",
        components: {Subcategories, ProductOptions, Product},

        data:()=>({
            products:[1,2,3,4,5,6,7,8,9,11,12,13,14]
        })
    }
</script>

<style scoped lang="scss">

    .sidebar{
        background: lighten(#e5e5e5,5%);
        padding: 20px;
    }

</style>