<template>
    <div class="search">
        <div class="container">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/" href="#">Home</router-link></li>
                        <li class="breadcrumb-item active" aria-current="page">Search Results</li>
                    </ol>
                </nav>
            </div>

            <div class="row py-5">
                <div class="col-md-3 d-none d-sm-block">
                    <aside class="sidebar">
                        <div class="head">
                            <h6 class="title">Categories</h6>
                        </div>
                        <div class="sub-cats">
                            <!--<router-link :to="getMainUrl(category)"><span class="cat px-4 pt-2">{{category.category_name}}</span></router-link>-->
                            <!--<ul class="list-unstyled ml-5">-->
                                <!--<li v-for="(cat,index) of category.sub_categories">-->
                                    <!--<router-link :to="getSubUrl(cat)"> {{cat.category_name}}</router-link>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </div>
                    </aside>
                </div>

                <div class="col-md-9">
                    <div class="header">
                        <h4>Search Results</h4>
                    </div>


                    <div class="content" v-if="products.data.length>0">
                        <div class="filtering">
                            <div class="row">
                                <div class="col-md-3 ml-auto col-6">
                                    <select class="form-control form-control-sm">
                                        <option>Sort Products</option>
                                        <option>By Relevance</option>
                                        <option>Price Low To High</option>
                                        <option>Price High To Low</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="product-list">
                            <div class="row">
                                <div class="col-md-3 col-6 my-3" v-for="product of products.data">
                                    <product :product="product"></product>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="c-pagination">
                            <pagination :data="products" @pagination-change-page="searchProducts"></pagination>
                        </div>
                    </div>
                    <div class="text-center" v-else>
                        <span class="no-content">There is currently no product in this category</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {http} from "../../utils";
    import Product from '../components/Product';
    import slugify from '@sindresorhus/slugify';
    import Pagination from 'laravel-vue-pagination';

    export default {
        name: "ProductSearch",
        data:()=>({
            products:{data:[]}
        }),
        components:{Product,Pagination},

        methods:{
            checkQuery(){
                if(!this.$route.query.q){
                    this.$router.push('/')
                }else {
                    this.searchProducts();
                }
            },

            searchProducts(page=1){
                let query = this.$route.query.q;

                http.get("/products/search?search="+query+"&page="+page)
                    .then((res)=>{
                        this.products = res.data.data;
                    })
            }
        },

        mounted() {
            this.checkQuery();

        }
    }
</script>

<style scoped>

</style>