<template>
    <div class="container">
        <div class="register mt-5">
            <div class="registration-form">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                Create a new customer account
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <form novalidate @submit.prevent="registerUser">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="first-name">First Name</label>
                                            <div class="col-md-9">
                                                <input v-model="user.first_name"
                                                       :class="{'is-invalid':errors.first_name.show}"
                                                       type="text" id="first-name" class="form-control" required>
                                                <small v-if="errors.first_name.show" class="text-danger">{{errors.first_name.message}}</small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="last-name" class="col-md-3">Last Name</label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       :class="{'is-invalid':errors.last_name.show}"
                                                       v-model="user.last_name"
                                                       id="last-name" class="form-control" required>
                                                <small
                                                        v-if="errors.last_name.show"
                                                        class="text-danger">{{errors.last_name.message}}</small>
                                            </div>

                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-3" for="email">Email</label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       :class="{'is-invalid':errors.email.show}"
                                                       v-model="user.email"
                                                       id="email" class="form-control" required>
                                                <small v-if="errors.email.show"
                                                       class="text-danger"
                                                >{{errors.email.message}}</small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="phone" class="col-md-3">Phone No.</label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       :class="{'is-invalid':errors.phone_no.show}"
                                                       v-model="user.phone_no"
                                                       id="phone" class="form-control" required>

                                                <small class="text-danger"
                                                       v-if="errors.phone_no.show"
                                                >{{errors.phone_no.message}}</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3" for="password">Password</label>
                                            <div class="col-md-9">
                                                <input type="password"
                                                       v-model="user.password"
                                                       :class="{'is-invalid':errors.password.show}"
                                                       id="password" class="form-control" required>

                                                <small v-if="errors.password.show"  class="text-danger">{{errors.password.message}}</small>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-md-3" for="password-confirmation">Password Confirmation</label>
                                            <div class="col-md-9">
                                                <input  type="password"
                                                        v-model="user.password_confirmation"
                                                        :class="{'is-invalid':errors.password_confirmation.show}"
                                                        id="password-confirmation" class="form-control" required>
                                                <small class="text-danger"
                                                       v-if="errors.password_confirmation.show">{{errors.password_confirmation.message}}</small>
                                            </div>
                                        </div>

                                        <div class="">
                                            <button type="submit" :disabled="sendingRequest" class="btn-primary btn">
                                                <i  v-if="sendingRequest" class="fa fa-spinner fa-spin"></i>   Sign Up
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {http,toast} from "../../utils";
    import AuthManager from "../utils/AuthManager";

    export default {
        name: "Register",
        data:()=>({
            errors:{},
            sendingRequest:false,
            user:{
                first_name: '',
                last_name: '',
                email:'',
                phone_no: '',
                password: '',
                password_confirmation: ''
            }
        }),

        methods:{
            formIsValid(){
                let isInvalid = true;
                this.errors = this.getValidationErrors();
                let fields = Object.keys(this.user);

                Object.keys(this.user).forEach((field)=>{
                    if(this.user[field]===''){
                        isInvalid = false;
                        this.errors[field].show = true;
                    }

                });


                if(isInvalid){
                    return this.validatePassword();
                }

                return isInvalid
            },

            validatePassword(){

                if(this.user.password !== this.user.password_confirmation){
                    this.errors.password_confirmation.message = "Password did not match";
                    this.errors.password_confirmation.show = true;

                    return false;
                }

                return true;
            },

            validateEmail(){

            },


            registerUser(){
                if(this.formIsValid()){
                    this.sendingRequest = true;
                    http.post("account/register",this.user)
                        .then((res)=>{
                                toast.success("Registration was successful proceed to login");
                                AuthManager.loginUser(res.data.data.user,res.data.data.token);
                                this.$store.commit("login");
                                this.$store.commit("setUser",res.data.data.user);
                                this.$router.push("/");
                                this.clearFields();
                            },
                            (err)=>{
                                if(err.response){
                                    let errors = err.response.data.errors;
                                    Object.keys(errors)
                                        .forEach((field)=>{
                                            this.errors[field].message = errors[field][0];
                                            this.errors[field].show = true;
                                        });
                                }else {
                                    toast.error("Oops something went wrong.")
                                }

                            }
                        )
                        .finally(()=>{
                        this.sendingRequest = false;
                    })
                }
            },

            clearFields(){
                Object.keys(this.user).forEach((field)=>{
                    this.user[field] = ''
                })
            },


            getValidationErrors() {

                return {
                    first_name:{
                        show:false,
                        message:"Enter your first name"
                    },

                    last_name:{
                        show:false,
                        message:"Enter your last name"
                    },

                    email:{
                        show:false,
                        message:"Enter a valid email"
                    },

                    phone_no:{
                        show:false,
                        message:"Phone no is required"
                    },

                    password:{
                        show:false,
                        message:"Enter your password"
                    },

                    password_confirmation:{
                        show:false,
                        message:"Confirm your password"
                    }
                }
            }
        },

        created(){
            this.errors = this.getValidationErrors()
        }
    }
</script>

<style scoped lang="scss">


</style>