<template>
    <div class="dashboard">
        <section class="dashboard-counts section-padding">
            <div class="container-fluid">
                <div class="row">
                    <!-- Count item widget-->
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="wrapper count-title d-flex">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="name"><strong class="text-uppercase">Total Customers</strong><span>Last 7 days</span>
                                <div class="count-number">{{summary.total_customers}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Count item widget-->
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="wrapper count-title d-flex">
                            <div class="icon"><i class="icon-padnote"></i></div>
                            <div class="name"><strong class="text-uppercase">Recent Orders</strong><span>Last 7 days</span>
                                <div class="count-number">{{summary.recent_orders_count}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Count item widget-->
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="wrapper count-title d-flex">
                            <div class="icon"><i class="icon-check"></i></div>
                            <div class="name"><strong class="text-uppercase">Total Sales</strong><span>All time sales</span>
                                <div class="count-number">{{summary.sales_amount | currency}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Count item widget-->
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="wrapper count-title d-flex">
                            <div class="icon"><i class="icon-bill"></i></div>
                            <div class="name"><strong class="text-uppercase">Order Count</strong><span>All time orders</span>
                                <div class="count-number">{{summary.total_orders}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card">

                <div class="card-body">
                    <div class="list">
                        <h5 class="card-header">Recent Orders</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Reference</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(order,index) of summary.recent_orders" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{order.customer.first_name+" "+ order.customer.last_name}}</td>
                                <td>{{order.id | formatRef}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.amount | currency}}</td>
                                <td>{{order.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </section>



    </div>
</template>

<script>
    import {http} from "../../../utils";

    export default {
        name: "DashboardSummary",
        data:()=>({
            summary:{},
        }),
        methods:{
            getSummary(){
                http.get('/admin/summary')
                    .then((res)=>{
                        this.summary = res.data.data;
                    })
            }
        },

        created(){
            this.getSummary();
        }
    }
</script>

<style scoped >
    .count-number{
        font-size: 2.5em !important;
    }
</style>