<template>
    <div class="bar row" >
        <div class="col-md-3">
            <span class="rate">5 star</span>
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-1">
            <span class="count">(56)</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Bar"
    }
</script>

<style scoped lang="scss">
    .progress-bar{
        padding-left: 0;
    }
    .bar{
        margin-top: 5px;
    }
    .progress{
        height: 10px;
        margin-top: 6px;

    }

    .count,.rate{
        font-size: .8em;
    }

</style>