<template>
    <div class="rating">
        <div class="rating-summary">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="star">
                                <span class="av-text">Average Rating</span>
                                <span class="fa fa-star big-star"></span>
                                <span class="t-reviews">Based on 34 reviews</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bars">
                              <bar></bar>
                                <bar></bar>
                                <bar></bar>
                                <bar></bar>
                                <bar></bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Bar from "./Bar";
    export default {
        name: "Rating",
        components: {Bar}
    }
</script>

<style scoped lang="scss">

    .rating{
        margin-top: 50px;
        .star{
            text-align: center;
            .av-text{
                font-weight: bold;
                font-size: 1.1em;
                margin: 5px 0;
            }
            span{
                display: block;
            }

            .big-star{
                font-size: 4em;
                margin: 20px;
            }

            .t-reviews{
                font-size: .8em;
            }
        }
    }

</style>