<template>
    <div class="categories">
        <ul>
            <li class=" heading">Computers</li>
            <li><a href="#">Laptops</a> </li>
            <li><a href="#">Desktops</a> </li>
            <li><a href="#">Accessories</a> </li>
            <li><a href="#">Work Stations</a> </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Categories",

        props:['categories']
    }
</script>

<style scoped lang="scss">
    @import "../../../../../sass/variables";
  .categories{

      /*width: 250px;*/
      /*margin-right: 5px;*/
      border: solid 1px #e5e5e5;
      border-right: none;
      border-bottom: none;
      ul{
          list-style: none;
          padding: 0;
          margin: 0;
      }

      .heading{
          padding: 10px 30px;
          background: $primary-color;
          color: $text-primary;
          margin-bottom: 20px;
          font-size: 1.3em;
          font-weight: bold;
          padding-left: 20px;
      }

      li{
          a{
              display: block;
              padding: 10px 30px;
              padding-left: 20px;
              transition: all 500ms;

              &:hover{
                  background: lighten(grey,40%);
              }
          }
      }
  }

</style>