<template>
    <div class="category-product">
        <!--<span class="md-subheading"></span>-->
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="categories d-lg-block d-none">
                    <ul>
                        <li class=" heading" @click="getProducts">{{main_category.category_name}}</li>
                        <li class="" v-for="(cat,i) of main_category.sub_categories"><router-link :to="getSubUrl(cat)">{{cat.category_name}}</router-link> </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9 ">
                <div class="row section-header">
                    <div class="col-md-6 col-7 d-sm-none">
                        <span class="name">{{main_category.category_name}}</span>
                    </div>
                    <div class="text-right col">
                        <router-link :to="getMainUrl(main_category)"  class="view-more" href="#">View More <span class="fas fa-chevron-right"></span> </router-link>
                    </div>
                </div>


                <products :products="products"></products>
            </div>
        </div>
    </div>
</template>

<script>
    import Categories from "./Categories";
    import Products from "./Products";
    import {http} from "../../../../utils";
    import slugify from '@sindresorhus/slugify'

    export default {
        name: "CategoryProductSection",
        components: {Products, Categories},
        props:["main_category"],

        data:()=>({
            products:[]
        }),

        methods:{
            getMainUrl(cat){
                return '/m-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },

            getSubUrl(cat){
                return '/s-cat/'+cat.id+'/'+slugify(cat.category_name.toLowerCase())
            },


            getProducts(){
                http.get("products/main-category/"+this.main_category.id)
                    .then((res)=>{

                        this.products.splice(0,this.products.length);
                        this.products.push(...res.data.data.data.slice(0,4))
                    });
            },

            getSubCategoryProducts(id){
                http.get("products/sub-category/"+id)
                    .then((res)=>{
                        // console.log(res)
                        this.products.splice(0,this.products.length);
                        this.products.push(...res.data.data.data.slice(0,4))
                    });
            }
        },

        created(){
           this.getProducts()
        },
        mounted(){

        }
    }
</script>

<style scoped lang="scss">
    @import "../../../../../sass/variables";
    .category-product{
        margin-top: 20px;
        border: solid 1px #e5e5e5;
        border-top: none;

        .section-header{
            @media (max-width: 576px) {
                background: $primary-color;
                color: #fff;
                padding: 10px 5px;

                .name{
                    font-size: 1.3em;
                }
                .view-more{
                    padding: 0;
                    color: #fff;
                }
            }
        }
    }

    .view-more{
        padding: 15px 30px;
        display: block;
        font-size: .95em;

        .fas{
            font-size: .9em;
        }
    }



    .categories{

        /*width: 250px;*/
        /*margin-right: 5px;*/
        border: solid 1px #e5e5e5;
        border-right: none;
        border-bottom: none;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .heading{
            padding: 10px 30px;
            background: $primary-color;
            color: $text-primary;
            margin-bottom: 20px;
            font-size: 1.3em;
            font-weight: bold;
            padding-left: 20px;
            cursor: pointer;
        }

        li{
            a{
                display: block;
                padding: 10px 30px;
                padding-left: 20px;
                transition: all 500ms;

                &:hover{
                    background: lighten(grey,40%);
                }
            }
        }
    }

</style>