<template>
    <div class="products">
        <div class="row no-gutters">
            <div class="col-md-3 col-6" v-for="(product , index ) of products" :key="index">
                <product :product="product"></product>
            </div>
            <!--<div class="col-md-3">-->
                <!--<product image="product2.jpg"></product>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<product image="product3.jpg"></product>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<product image="product4.jpg"></product>-->
            <!--</div>-->



        </div>
    </div>
</template>

<script>
    import Product from '../../Product.vue'
    export default {
        name: "Products",
        props:['products'],

        components:{
            Product
        },

        mounted(){

        }
    }
</script>

<style scoped>
    .products{
        border-top: solid 1px #e5e5e5;
        border-left: solid 1px #e5e5e5;
    }


</style>