<template>
    <div class="featured-products">

        <div class="header">
            <div class="row">
                <div class="col-md-10  align-baseline">
                    <h2>Featured Products</h2>
                    <span class="tag-line">Host of products selected for you</span>
                </div>
                <div class="col-md-2 text-right ">
                    <a class="more-link" href="#">View more <span class="fas fa-chevron-right"></span> </a>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="row">
                <div class="col-md-2 col-6">
                    <product image="product5.jpg"></product>
                </div>
                <div class="col-md-2 col-6">
                    <product image="product1.jpg"></product>
                </div>
                <div class="col-md-2 col-6">
                    <product image="product3.jpg"></product>
                </div>
                <div class="col-md-2 col-6">
                    <product image="product7.jpg"></product>
                </div>
                <div class="col-md-2 col-6">
                    <product image="product3.jpg"></product>
                </div>
                <div class="col-md-2 col-6">
                    <product image="product9.jpg"></product>
                </div>
            </div>
        </div>





        <!--<h1 class="md-title title">Featured Products</h1>-->
       <!--<div class="wrapper">-->
           <!--<md-tabs class="md-accent" md-alignment="right">-->
               <!--<md-tab id="tab-home" md-label="Home">-->
                   <!--<div class="md-layout">-->
                       <!--<div class="md-layout-item md-small-size-50 md-large-size-25">-->
                           <!--<product image="product1.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-small-size-50  md-large-size-25">-->
                           <!--<product image="product2.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product3.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product4.jpg"></product>-->
                       <!--</div>-->
                   <!--</div>-->

               <!--</md-tab>-->
               <!--<md-tab id="tab-pages" md-label="Pages">-->
                   <!--<div class="md-layout">-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product5.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product6.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product7.jpg"></product>-->
                       <!--</div>-->
                       <!--<div class="md-layout-item md-large-size-25">-->
                           <!--<product image="product8.jpg"></product>-->
                       <!--</div>-->
                   <!--</div>-->


               <!--</md-tab>-->
               <!--<md-tab id="tab-posts" md-label="Posts"></md-tab>-->
               <!--<md-tab id="tab-favorites" md-label="Favorites"></md-tab>-->
           <!--</md-tabs>-->
       <!--</div>-->
    </div>
</template>

<script>
    import Product from "./Product";
    export default {
        name: "FeaturedProducts",
        components: {Product}
    }
</script>

<style scoped lang="scss">

    .featured-products{
        margin-top: 50px;
        position: relative;


        .header{
            border-bottom: solid 1px lighten(grey,40%);
            padding-bottom: 10px;
        }

        .title{
            position: relative;
            top: 60px;
        }

        .wrapper{
            position: relative;
        }

        .md-tabs-content{
            border: solid;
        }
    }

</style>