<template>
    <div class="product">
        <div class="">
            <img alt="" class="img-fluid" :src="`/img/product/${image}`">
        </div>
       <div class="meta">
           <div class="price">
               <span class="current-price">&#8358;50,999 </span> <span class="old-price"> &#8358; 90,999</span>
           </div>
           <div class="name">
               <a href="#"> <span class="md-body-1">IPhone X 8GB Ram 6.9" 78GB ROM</span></a>
           </div>
       </div>
        <!--<button class="md-button">Add to cat</button>-->
    </div>
</template>

<script>
    export default {
        name: "Product",
        props:["image"]
    }
</script>

<style scoped lang="scss">

    .meta{
        .price{
            font-size: .85em;
            font-weight: bolder;
            .old-price{
                text-decoration: line-through;
                color: lighten(grey,10%);
                display: block;
                font-size: .8em;
            }

        }

        .name{
            font-size: .9em;
        }
    }

</style>