<template>
    <div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="needs-validation" novalidate @submit.prevent="submitForm($event)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modal.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="first-name" class="label-sm">First Name</label>
                                <input v-model="userData.first_name" required type="text" class="form-control form-control-sm" id="first-name">
                            </div>
                            <div class="col-md-6">
                                <label for="last-name" class="label-sm">Last Name</label>
                                <input v-model="userData.last_name" required type="text" class="form-control form-control-sm" id="last-name">
                            </div>

                            <div class="col-md-6">
                                <label for="phone_no" class="label-sm">Phone No</label>
                                <input v-model="userData.phone_no" required  type="text" class="form-control form-control-sm" id="phone_no">
                            </div>

                            <div class="col-md-6">
                                <label for="phone-no2" class="label-sm">Additional Phone No</label>
                                <input v-model="userData.phone_no2"  class="form-control form-control-sm" id="phone-no2">
                            </div>

                            <div class="col-md-6">
                                <label for="address" class="label-sm">Address</label>
                                <input v-model="userData.address" class="form-control form-control-sm" required id="address">
                            </div>

                            <div class="col-md-6">
                                <label for="additional-info" class="label-sm">Additional Information</label>
                                <input v-model="userData.additional_info" class="form-control form-control-sm"  id="additional-info">
                            </div>

                            <div class="col-md-6">
                                <label for="state" class="label-sm">State</label>
                                <select id="state" v-model="state" required class="form-control-sm form-control">
                                    <option selected value="" disabled>Select state</option>
                                    <option :value="index" v-for="(state,index) of states">{{state.state.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="lga" class="label-sm">LGA</label>
                                <select v-model="userData.lga" id="lga" required class="form-control form-control-sm">
                                    <option value="" disabled selected>Select LGA</option>
                                    <option :value="lga.name" :key="index" v-for="(lga,index) of lgas">{{lga.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i v-if="sendingRequest" class="fa fa-spin fa-spinner"></i> {{modal.btnText}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    import {initFormValidation,http,toast} from "../../../utils";
    import states from '../../../utils/nigerian-states';

    export default {
        name: "AddressModal",
        data:()=>({
            state:'',
            lgas:'',
            sendingRequest:false,
            modal:{},
            userData:{
                phone_no2:'',
                state:'',
                lga:'',
                additional_info:'',
                address:''
            },
            states
        }),
        props:{
            isEditing:{
                type:Boolean,
                required:true
            },

            address: {
                type: Object,
                required: false
            }
        },

        computed:{
            user() {
                return this.$store.state.user;
            }
        },

        watch:{
            state(val){
                if(val){
                    let state = this.states[val];
                    this.userData.state = state.state.name;
                    this.lgas = state.state.locals;
                }
            }
        },

        methods:{
            registerModalCb(){
                $('#address-modal').on('show.bs.modal', (e)=> {

                    if(this.isEditing){
                        this.userData = this.address;
                        this.state = this.getStateIndex(this.address.state);
                        this.formAction = "update";
                        this.modal ={
                            title:"Edit Address",
                            btnText:"Update"
                        }

                    }else {
                        this.modal ={
                            title:"Address",
                            btnText:"Add"
                        };
                        this.state = '';
                        this.formAction = "add";
                        this.userData = {...this.user}
                    }


                });

                $('#address-modal').on('hide.bs.modal', (e)=> {
                    this.$emit("modalClosed")
                })
            },



            submitForm(event){
                if(event.target.checkValidity()){
                    if(this.formAction ==="add"){
                        this.addAddress();
                    }else {
                        this.updateAddress();
                    }

                }
            },

            getStateIndex(stateName){
                for(let i=0; i<this.states.length; i++){
                    if(this.states[i].state.name===stateName)
                        return i
                }
            },


            addAddress(){
                http.post("user/add-address",this.userData)
                    .then((res)=>{
                        this.$emit("addressAdded",res.data.data);
                        toast.success("Address added successfully");
                        $("#address-modal").modal("hide");
                        console.log(res.data.data)
                    },()=>{
                        toast.error("Oops something went wrong");
                    })
            },


            updateAddress() {
                this.sendingRequest = true;
                http.post("user/update-address/"+this.userData.id,this.userData)
                    .then((res)=>{
                        this.$emit("addressUpdated",res.data.data);
                        toast.success("Address Update successfully");
                        $("#address-modal").modal("hide");
                        console.log(res.data.data)
                    },()=>{
                        toast.error("Oops something went wrong");
                    })
                    .finally(()=>{
                        this.sendingRequest = false;
                    });
            }
        },
        mounted(){
            this.registerModalCb();
            initFormValidation();
        }
    }
</script>

<style scoped>
    .label-sm{
        font-size: .8em;
    }
</style>