<template>
    <div class="promotion">
        <div class="row">
            <div class="col-md-6">
                <div class="promo-item">
                    <img src="img/product-banner2.jpg">
                </div>
            </div>

            <div class="col-md-6">
                <div class="promo-item">
                    <img src="img/product-banner3.jpg">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Promotion"
    }
</script>

<style scoped lang="scss">

    .promotion{
        margin: 10px 0;

        img{
            width: 100%;
        }
    }



</style>