<template>
    <div>
        <sidebar></sidebar>
        <div class="page">
            <app-header></app-header>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Sidebar from "../../components/sidebar/Sidebar";
    import AppHeader from "../../components/header/AppHeader";
    export default {
        name: "Dashboard",
        components: {AppHeader, Sidebar}
    }
</script>

<style scoped>

</style>